<div class="container">
  <div class="row">
      <div class="col-md-12 col-lg-12 tab-panes">
          <br>
          <ul class="nav nav-tabs justify-content-end">
              <li class="nav-item tab-pane fade show" id="addTrainerButton" role="button" (click)="open(addTrainerContent)" style="color:#F26925">
                  <button type="button" class="btn btn-change" style="background-color:#F26925; color:white">Create Trainer
                      <span class="fa fa-plus" aria-hidden="true"></span>
                  </button>
              </li>
          </ul>
      </div>
  </div>

<div id="trainers-table">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Email</th>
        <th>Tier</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trainer of trainers">
        <td>
          {{trainer.name}}
        </td>
        <td>
          {{trainer.title}}
        </td>
        <td>
          {{trainer.email}}
        </td>
        <td>
          {{trainer.tier}}
        </td>
        <td>
          <i class="fa fa-pencil" style="color:#ff8e4d;" (click)="editTrainer(content, trainer)"></i>
        </td>
        <td>
          <app-deactivatetrainer [trainer] = "trainer"></app-deactivatetrainer>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<!--Model for updating trainer-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Trainer</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <!-- Field for Trainer name -->
            <label class="col-sm-2 control-label text-nowrap" for="name">Trainer Name:</label>
            <input type="text" class="form-control" id="name" name="name" [ngModel]="currEditTrainer.name" placeholder="Trainer Name"
            />
          </div>
          <div class="col-md-6">
            <!-- Field for email -->
            <label class="col-sm-2 control-label text-nowrap" for="email">Email:</label>
            <input type="text" class="form-control" [ngModel]="currEditTrainer.email" id="email" name="email" placeholder="Email" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <!-- dropdown/filter for Trainer Title -->
          <!-- Datalist to display titles -->
          <label class="col-sm-2 control-label text-nowrap" for="title">Enter Title</label>
          <input class="form-control" [ngModel]="currEditTrainer.title" (ngModelChange)="titleChange($event)" list="browsers" name="browser">
          <datalist id="browsers">
            <option [value]="title" *ngFor="let title of titles">
          </datalist>
        </div>
        <div class="col-md-6">
          <!-- Dropdown for Trainer tier/role -->
          <label class="col-sm-2 control-label text-nowrap" for="tier">Tier</label>
          <select class="form-control" [ngModel]="currEditTrainer.tier" (ngModelChange)="tierChange($event)" name="tier">
            <option [value]="tier" *ngFor="let tier of tiers">{{tier | slice:5}}</option>
          </select>

        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" data-dismiss="modal" class="btn btn-update" (click)="updateTrainer()">Update</button>

    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #addTrainerContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add Trainer</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form (ngSubmit)="addTrainer(addTrainerForm)" #addTrainerForm="ngForm">
    <div class="modal-body">
      <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label class="col-sm-2 control-label text-nowrap" for="name">Trainer Name:</label>
                <div class="col-sm-12">
                  <input [(ngModel)]="model.name" type="text" class="form-control" id="name" name="name"  placeholder="Trainer Name" />
                </div>
            </div>

            <div class="col-sm-6">
              <label class="col-sm-2 control-label text-nowrap" for="email" >Email:</label>
              <div class="col-sm-12">
                <input [(ngModel)]="model.email" type="text" class="form-control" id="email" name="email" placeholder="Email" />
              </div>
            </div>
          </div>
      </div>
      
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label class="col-sm-2 control-label text-nowrap" for="title">Title</label>
            <div class="col-sm-12">
              <input list="trainerTitle" [(ngModel)]="model.title" type="text" class="form-control" id="title" name="title" placeholder="Title" />
              <!--<select class="form-control" [ngModel]="model.title" (ngModelChange)="newTitleChange($event)" name="title">-->
              <datalist id="trainerTitle">  
                <option [value]="title" *ngFor="let title of titles">{{title}}</option>
              </datalist>
                <!--</select>-->
            </div>
          </div>

          <div class="col-md-6">
            <label class="col-sm-2 control-label text-nowrap" for="tier">Tier</label>
            <div class="col-sm-12">
            <select class="form-control" [ngModel]="model.tier" (ngModelChange)="newTierChange($event)" name="tier">
              <option [value]="tier" *ngFor="let tier of tiers">{{tier}}</option>
            </select>
            </div>
          </div>
      </div>
    </div>
  </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-add">Save</button>
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
  </form>

</ng-template>
</div>
