<div id="trainers-table">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Email</th>
        <th>Tier</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trainer of trainers">
        <td>
          {{trainer.name}}
        </td>
        <td>
          {{trainer.title}}
        </td>
        <td>
          {{trainer.email}}
        </td>
        <td>
          {{trainer.tier}}
        </td>
        <td>
          <i class="fa fa-pencil" style="color:#ff8e4d;" (click)="editTrainer(content, trainer)"></i>
        </td>
        <td>
          <i class="fa fa-times" aria-hidden="true"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>






<!--Model for updating trainer-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Trainer</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label class="col-sm-2 control-label text-nowrap" for="name">Trainer Name:</label>
            <input type="text" class="form-control" id="name" name="name" [ngModel]="currEditTrainer.name" placeholder="Trainer Name"
            />
          </div>
          <div class="col-sm-6">
            <label class="col-sm-2 control-label text-nowrap" for="email">Email:</label>
            <input type="text" class="form-control" [ngModel]="currEditTrainer.email" id="email" name="email" placeholder="Email" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="col-sm-2 control-label text-nowrap" for="title">Enter Title</label>

          <!-- <input type="text" class="form-control" [(ngModel)]="trainers[currEditTrainerIndex].title" id="title" name="title" placeholder="Title" /> -->
          <select class="form-control">
            <option selected>Open this select menu</option>
            <option *ngFor="let title of titles; let i = index" value="i">{{title}}</option>
          </select>

        </div>
        <div class="col-sm-6">
          <label class="col-sm-2 control-label text-nowrap" for="tier">Tier</label><br>
          <!-- <input type="text" class="form-control" [(ngModel)]="trainers[currEditTrainerIndex].tier" id="tier" name="tier" placeholder="Title" /> -->

          <select class="form-control" [ngModel]="currEditTrainer.tier" (ngModelChange)="tierChange($event)" name="tier">
            <option [value]="tier" *ngFor="let tier of tiers">{{tier}}</option>
          </select>

          <!-- <select class="custom-select">
              <option selected>{{currEditTrainer.tier}}</option>
              <option  *ngFor="let tier of tiers; let i = index" value="i">{{tier}}</option>
            </select> -->
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <button type="submit" data-dismiss="modal" class="btn btn-update" (click)="updateTrainer()">Update</button>
      <!-- <button type="submit"  (click)="addUser()" class="btn btn-primary"> Add User </button> -->
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>
    <button type="submit" class="btn btn-update">Update</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Update Trainer</button>

<ng-template #addTrainerContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Create Trainer</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <form (ngSubmit)="addTrainer(addTrainerForm)" #addTrainerForm="ngForm">
    <div class="modal-body">
      <div class="form-group">
        
        <label class="col-sm-2 control-label text-nowrap" for="name">Trainer Name:</label>
        <div class="col-sm-10">
          <input [(ngModel)]="model.name" type="text" class="form-control" id="name" name="name"  placeholder="Trainer Name" />
        </div>
        
        <label class="col-sm-2 control-label text-nowrap" for="email" >Email:</label>
        <div class="col-sm-10">
          <input [(ngModel)]="model.email" type="text" class="form-control" id="email" name="email" placeholder="Email" />
        </div>
      
        <label class="col-sm-2 control-label text-nowrap" for="title">Enter Title</label>
        <div class="col-sm-10">
          <input [(ngModel)]="model.title" type="text" class="form-control" id="title" name="title" placeholder="Title" />
        </div>
      
        <label class="col-sm-2 control-label text-nowrap" for="title">Tier</label>
        
        <div class="col-sm-10">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item">VP</button>
                <button class="dropdown-item">PANEL</button>
                <button class="dropdown-item">QC</button>
                <button class="dropdown-item">TRAINER</button>
                <button class="dropdown-item">STAGING</button>
              </div>
            </div>
          </div>
        
        <div class="col-sm-10">
          <input [(ngModel)]="model.tier" type="text" class="form-control" id="tier" name="tier" placeholder="Tier" />
        </div>

      </div>
    </div>
  
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark" >Add</button>
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
   </div>
  </form>

</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(addTrainerContent)">Add New Trainer</button>
