<div id="trainers-table">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Email</th>
        <th>Tier</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trainer of trainers ; let i = index">
        <td>
          {{trainer.name}}
        </td>
        <td>
          {{trainer.title}}
        </td>
        <td>
          {{trainer.email}}
        </td>
        <td>
          {{trainer.tier}}
        </td>
        <td>
          <i class="fa fa-pencil" style="color:#ff8e4d;" (click)="editTrainer(content, i)"></i>
        </td>
        <td>
          <i class="fa fa-times" aria-hidden="true"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>




<i class="fa fa-pencil" style="color:#ff8e4d;" (click)="open(content)"></i>



<!--Model for updating trainer-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Trainer</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="updateTrainer(updateTrainer)" #updateTrainer="ngForm">
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label class="col-sm-2 control-label text-nowrap" for="name">Trainer Name:</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="trainers[currEditTrainerIndex].name" placeholder="Trainer Name" />
          </div>
          <div class="col-sm-6">
            <label class="col-sm-2 control-label text-nowrap" for="email">Email:</label>
            <input type="text" class="form-control" [(ngModel)]="trainers[currEditTrainerIndex].email" id="email" name="email" placeholder="Email" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="col-sm-2 control-label text-nowrap" for="title">Enter Title</label>

          <input type="text" class="form-control" [(ngModel)]="trainers[currEditTrainerIndex].title" id="title" name="title" placeholder="Title" />
        </div>
        <div class="col-sm-6">
          <label class="col-sm-2 control-label text-nowrap" for="title">Tier</label>
          <input type="text" class="form-control" [(ngModel)]="trainers[currEditTrainerIndex].tier" id="tier" name="tier" placeholder="Title" />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-update">Update</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>