<div *ngIf="batch" class="row mobile-removal">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <div class="card h-100">
      <div class="card-header">Personal Information</div>
      <div class="card-body">
        <p class="card-text">First Name: {{user.fName}}</p>
        <p class="card-text">Last Name: {{user.lName}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">Batch Information</div>
      <div class="card-body">
        <h5 class="card-title">Batch Week: #{{weekNum}}</h5>
        <p class="card-text">Current Batch: {{batch.name}}</p>
        <p class="card-text">Start Date: {{currentBatchStart1 | date: 'longDate'}}</p>
        <p class="card-text">End Date: {{currentBatchEnd1 | date: 'longDate'}}</p>
      </div>
    </div>
  </div>
</div>