/************************
    Footer
************************/
.footer-margin {
    margin-top: .85em;
}
.footer-img {
    margin-top: 1.5em;
}
::-webkit-scrollbar {
    display: none;
    }
/* Footer, set footer height to actual height of footer*/
html, body {
    height: 100%;
}
.img-responsive {
    padding-bottom: 1em;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -128px;
    padding-bottom: 128px;
    max-width: 100%;
}
footer {
    min-height: 128px;
    padding: 10px;
    background-color: #474C55;
    font-size: .75em;
    max-width: 100%;
}
.center {
    text-align: center;
}
.contact-info {
    color: #B9B9BA;
}
.fa-copyright {
    padding-right: .5em;
}
footer a, footer a:hover {
    color: #B9B9BA;
}
