.panel-heading {
    background: rgb(242, 105, 37);
    color: white;
    padding: 1vmin 2vmin;
    border-top-left-radius: 2vmin;
    border-top-right-radius: 2vmin;
}

.panel-body {
    border: 1px rgb(221, 221, 221) solid;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container {
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding: 0;
    }

    .panel-body {
        border: none;
    }

    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}