<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link" routerLink="/TrackForce/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/TrackForce/client-listing">Client List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/TrackForce/batch-listing">Batch List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/TrackForce/associate-listing">Associate List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/TrackForce/create-user">Create User</a>
  </li>

</ul>
