<!-- <ul class="navbar-nav ml-auto">
  <li class="nav-item" *ngIf="user">
    <a class="nav-link" routerLink="/TrackForce/home">Home</a>
  </li>
  <li class="nav-item" *ngIf="user">
    <a class="nav-link" routerLink="/TrackForce/client-listing" id="clientListNav">Client List</a>
  </li>
  <li class="nav-item" *ngIf="user">
    <a class="nav-link" routerLink="/TrackForce/batch-listing" id="batchListNav">Batch List</a>
  </li>
  <li class="nav-item" *ngIf="user">
    <a class="nav-link" routerLink="/TrackForce/associate-listing" id="associateListNav">Associate List</a>
  </li>
  <li class="nav-item" *ngIf="user">
    <a class="nav-link" routerLink="/TrackForce/predictions" id="predictionsNav">Predictions</a>
  </li>
  <li class="nav-item" *ngIf="user">
    <a class="nav-link" id="logoutNav" (click)="logout()">Logout</a>
  </li>
  <li class="nav-item" *ngIf="!user">
    <a class="nav-link" id="createUserNav" routerLink="/TrackForce/create-user">Create User</a>
  </li>
  <li class="nav-item" *ngIf="!user">
    <a class="nav-link" id="loginNav" routerLink="/TrackForce/login">Login</a>
  </li>
</ul> -->

<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link" routerLink="/TrackForce/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/TrackForce/client-listing">Client List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/TrackForce/batch-listing">Batch List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/TrackForce/associate-listing">Associate List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/TrackForce/create-user">Create User</a>
  </li>

</ul>