<nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light bg-light display-front nav-pad">
  <div class="navbar-header c-pointer shift-left">
    <img  class="img-adjust-position" routerLink="/dashboard" class="rev-logo" src="assets/rev-logo.png" alt="revature">
  </div>

  <button class="navbar-toggler c-pointer shift-right" (click)="toggleCollapse()" aria-label="Toggle navigation">
    <span class="current-app-position">{{currentApp}}</span>
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
    
    <ul *ngIf="authService.isAuthenticated()" class="navbar-nav mr-auto module-select">
      <li ngbDropdown class="d-inline-block">
        <a class="nav-link dropdown-toggle c-pointer janus-links-collapse-support shift-down" id="dropdownBasic1" ngbDropdownToggle>{{currentApp}}</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" (click)="toggleCollapse()">
          <a *ngFor="let app of apps" class="dropdown-item dropdown-size" [routerLink]="app.homeUrl"> {{ app.name }} </a>
        </div>
      </li>
    </ul>

    <div *ngIf="!authService.isAuthenticated()">
      <a href="javascript:void(0)" (click)="authService.login()" class="nav-link c-pointer">Log In</a>
    </div>
    <div *ngIf="authService.isAuthenticated()">
      <a href="javascript:void(0)" (click)="authService.logout()" class="nav-link c-pointer">Log Out</a>
    </div>

    <div class="shift-dropdown toggable-shadow calibar-nav-bg" (click)="toggleCollapse()">
      <app-caliber-nav class="align-v-janus-links" [collapsed]="collapsed" (collapse)="toggleClose($event)" *ngIf="currentApp==='Caliber'"></app-caliber-nav>
      <app-assign-force-nav *ngIf="currentApp==='Assign Force'"></app-assign-force-nav>
      <app-track-force-nav *ngIf="currentApp==='Track Force'"></app-track-force-nav>
      <app-bam-nav class="align-v-janus-links" [collapsed]="collapsed" (collapse)="toggleClose($event)" *ngIf="currentApp==='Bam'"></app-bam-nav>
    </div>

  </div>

</nav>
