.dropdown-menu{
    height:600%;
    overflow:auto;
  }

.btn-secondary {
    background-color: white;
    color: #fa7427;
    border-bottom: 1px solid #ebe8e8;
    border-color: white;
}

.btn-secondary:hover:enabled {
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    color: #10009c;
    transition: 1s;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

 app-alerts {
     position: absolute;
     z-index: 99999;
 }