<!-- skillTypeBuckets component appears when list item in the SkillType component is clicked  -->

<div class="moveRight">


    <div class="container">
        <div class="row justify-content-center">
            <div class="card w-50">
                <h3 class="card-header">{{bucketService.name}}</h3>

                <div class="card-body">
                    <div *ngIf="skillType.name === 'Java'">
                        <div class="list-group" *ngFor="let skillTypeBucket of allSkillTypeBuckets">
                            <a class="list-group-item list-group-item-action" (click)="routeToBucket(skillTypeBucket.Name)">
                                <span> {{skillTypeBucket.Name}} &nbsp; {{skillTypeBucket.Weight}}%
                                </span>
                                <i id="xIcon" class="fa fa-remove pull-right"></i>
                                <i id="penIcon" class="fa fa-pencil pull-right" (click)=" open(editname)"></i>

                            </a>

                        </div>
                    </div>
                </div>

                <button class="btn btn-primary btn-sm" id="createSkillType" (click)='open(content)'>Add Category</button>
            </div>
        </div>
    </div>
</div>

<!--Creating edit name modal -->
<ng-template #editname let-c="close" let-d="dismiss">
    <form>
        <div class="form-group">
     
            <h3 class="tb-heading_rev_orange">Edit Category Name</h3>
            <label>New Category name: 
                  
            </label>
            <input class="form-control" type="text" name="newName">
            <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
            <button type="button" data-dismiss="modal" class="btn btn-outline-dark" (click)="editBucket(newName); c('Close click')">Save</button>
        </div>
        </div>
    </form>
</ng-template>

<!-- Beginning of Add Category modal - displays dropdown and text field to take in numeric
value for weight  -->

<ng-template #content let-c="close" let-d="dismiss">
    <form>
        <div class="form-group">
            <h3 class="tb-heading">Add a Category to this SkillType </h3>
            <label>Active Categories</label>
            <select class="form-control">
                <option *ngFor="let skillTypeBucket of allSkillTypeBuckets">{{skillTypeBucket.Name}}</option>
            </select>
        </div>
        <div>
            <label>Inactive Categories</label>
            <select class="form-control">
                <option *ngFor="let skillTypeBucket of allSkillTypeBuckets">{{skillTypeBucket.Name}}</option>
            </select>

            <!-- Weight input-->

            <input type="number" id="weight" name="weight" placeholder="Category Weight" class="form-control">
            <br>
            <button class="form-control" (click)="addNewSkillType(skillTypeBucket.Name,weight)">Add New SkillType!</button>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
            <button type="button" data-dismiss="modal" (click)="c('Close click')" class="btn btn-outline-dark">Save</button>
        </div>
    </form>
</ng-template>
