#ABcontent {
	margin-top: 2em;
	margin-bottom: 2em;
}

h6 {
  text-align: center;
  color: white;
}

.card-header {
  background-color: #F26925;
}

#penIcon {
	color: #F26925;
	margin-right: 10px;
}

a {
  cursor: pointer;
  cursor: hand;
}

i {
  cursor: pointer;
  cursor: hand;
}

.modal-header {
	background-color: #F26925;
}

.modal-title {
  text-align: center;
  color: white;
}

.close {
	color: white;
}