<!-- Welcome new trainer -->
<div class="container home-mobile">

  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 home-header">
      <h1>Welcome to Caliber!</h1>
      <p>
        To get started, please visit the
        <a href="https://github.com/pjw6193/caliber/wiki#user-guide">user guide</a>
        for an introduction and orientation.
      </p>
    </div>
  </div>

  <!-- Charts -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 display-behind">
      <app-vp-bar-graph></app-vp-bar-graph>
      <app-vp-line-graph></app-vp-line-graph>
      <app-vp-panel-graph></app-vp-panel-graph>
    </div>
  </div>
  
</div>