<!-- SkillTypes List-->
<div class="move">
    <div class="container">
        <div class="row justify-content-center">
            <div class="card w-50">

                <h3 class="card-header">Skill Types</h3>

                <!-- <h6>Active</h6> -->
                <div class="card-body">
                    <div class="list-group" *ngFor="let skillType of bigGroup">
                        <a class="list-group-item list-group-item-action">
                            {{skillType.name}}
                            <i id="xIcon">
                                <label class="switch" (ondrag) = "testing(skillType)">
                                    <input type="checkbox" [checked] = skillType.isActive (change) = "removeElement(skillType)">
                                    <span class="slider round"></span>
                                </label>
                            </i>
                            <i id="penIcon" class="fa fa-pencil pull-right" (click)="editSkillType(skillType); open(content)">
                                <span class="editToolTip">Edit</span>
                            </i>

                        </a>
                    </div>
                </div>
                <button class="btn" id="createSkillType" (click)='open(content); clearSkillTypeBuckets()'>Create Skill Type</button>
            </div>
        </div>
    </div>
</div>

<p>Drag the p element back and forth between the two rectangles:</p>

<div class="droptarget" ondrop="drop(event)" ondragover="allowDrop(event)">
  <p ondragstart="dragStart(event)" ondrag="dragging(event)" draggable="true" id="dragtarget">Drag me!</p>
</div>

<div class="droptarget" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

<p style="clear:both;"><strong>Note:</strong> drag events are not supported in Internet Explorer 8 and earlier versions or Safari 5.1 and earlier versions.</p>

<p id="demo"></p>

<!-- Modal for creating a new SkillType -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
      <!-- If a skillType got clicked, Title is Edit -->
    <h4 class="modal-title" *ngIf="!testSingleSkillType">Create a SkillType</h4>
     <h4 class="modal-title" *ngIf="testSingleSkillType">Edit SkillType</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form  #addSkillTypeForm="ngForm" [formGroup]="createSkillType">
          <div class="form-group row">
              <label for="name" class="col-sm-2 col-form-label">Name:</label>
              <div class="col-sm-10">
                  <!-- If a skillType is clicked, ngModel the name -->
                  <input type="text" id="name" name="name" formControlName="name" class="form-control" [(ngModel)]="testSingleSkillType.name" *ngIf="testSingleSkillType">
                  <input type="text" id="name" name="name" placeholder="SkillType Name" formControlName="name" class="form-control" *ngIf="!testSingleSkillType">
              </div>
          </div>
          <div class="form-group row">
              <label for="buckets" class="col-sm-2 col-form-label">Buckets:</label>
              <div class="col-sm-10">
                  <div *ngFor="let bucket of testBuckets; let index = index">
                      <div class="input-group col-sm-9" *ngIf="bucket.mappedToSkillType">
                          <span class="input-group-addon col-sm-4 revatureOrange">{{bucket.name}}</span>
                          <input type="number" #weight name="weight" class="form-control border-right-0 bucketWeight" min="0" max="100" [(ngModel)]="bucket.weight" [ngModelOptions]="{standalone: true}" (keyup)="checkBucketSum()">
                          <input type="number" name="sum" formControlName="bucketWeightSum" [hidden]="true" [(ngModel)]="bucketWeightSum" *ngIf="bucket">
                          <span class="input-group-addon percentSign">%</span>
                          <button type="button" class="close col-sm-3 revatureOrange" aria-label="Close" (click)="removeFromMapped(bucket)"><span aria-hidden="true">&times;</span></button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="form-group row">
              <label for="inactiveBuckets" class="col-sm-6 col-form-label">All Buckets:</label>
              <div class="col-sm-10 row">
                <span *ngFor="let bucket of testBuckets">
                    <span *ngIf="!bucket.mappedToSkillType">
                        <span class="input-group-addon" (click)="addToMapped(bucket)" style="margin: 1px">{{bucket.name}}</span>
                    </span>
                </span>
              </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
        <button type="button" data-dismiss="modal" class="btn btn-outline-dark" (click)="c('Create SkillType'); addNewSkillType(addSkillTypeForm.value)" [disabled]="!addSkillTypeForm.valid">Save</button>
    </div>
</ng-template>
