<!-- SkillTypes List-->
<div id="STcontent" class="container">
    <div class="row justify-content-center">
        <div class="card w-50">
            <h6 class="card-header">Skill Types</h6>
            <div class="card-body" id="skillTypesDiv">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" *ngFor="let skillType of allSkillTypes">
                        {{skillType.skillTypeName}}
                        <!-- <i id="xIcon">
                            <label class="switch">
                                <input type="checkbox" [(ngModel)]="skillType.isActive" (change)="skillTypeUpdate(skillType)" >
                                <span class="slider round" placement="top" ngbTooltip="active"></span>
                            </label>
                        </i> -->
                        <i id="penIcon" class="fa fa-pencil pull-right" (click)="open(edit); editSkillType(skillType)" placement="top" ngbTooltip="edit">
                        </i>
                    </a>
                </div>
            </div>
            <button class="btn btn-primary btn-sm" (click)='open(create)'>Create Skill Type</button>
        </div>
    </div>
</div>

<!-- Modal for creating a new SkillType -->
<ng-template #create let-c="close" let-d="dismiss">
    <div class="modal-header">
        <!-- If a skillType got clicked, Title is Edit -->
        <h4 class="modal-title">Create a SkillType</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form  #addSkillTypeForm="ngForm">
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Name:&nbsp;</label>
                <div class="col-sm-10">
                    <input type="text" id="skillTypeName" name="skillTypeName" placeholder="Skill type name" class="form-control"required ngModel>
                </div>
            </div>
            <div>
                <div *ngIf="skillType"class="form-group row">
                    <label for="categories" class="col-sm-6 col-form-label">Active Categories:</label>
                    <div class="col-sm-12">
                        <span *ngFor="let category of skillType.categories">
                            <button type="button" class="input-group-addon pillButtons" (click)="removeCategories(category)" *ngIf="!checkContains(category)">{{category.categoryName}}</button>
                            <input type="number" id="categoryWeight" name="categoryWeight" placeholder="weight" class="form-control" required ngModel>
                        </span>
                    </div>
                </div>            
                <div class="form-group row">
                    <label for="allCategories" class="col-sm-6 col-form-label">Inactive Categories:</label>
                    <div class="col-sm-10 row">
                        <span *ngFor="let category of allCategories">
                            <button type="button" class="input-group-addon pillButtons" (click)="addToCategories(category)" *ngIf="!checkContains(category)">{{category.categoryName}}</button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
        <!-- <button type="button" data-dismiss="modal" class="btn btn-outline-dark revatureOrange" (click)="updateSkillType(addSkillTypeForm.value); savedSuccessfully(); skillTypeUpdate(singleSkillType)" [disabled]="error" *ngIf="singleSkillType">Save</button> -->
        <button type="button" data-dismiss="modal" class="btn btn-outline-dark revatureOrange" (click)="c('Close click'); createNewSkillType(addSkillTypeForm.value)" [disabled]="!addSkillTypeForm.valid">Create</button>
    </div>
</ng-template>

  
<!-- Modal for editing a SkillType -->
<ng-template #edit let-c="close" let-d="dismiss">
    <div class="modal-header">
        <!-- If a skillType got clicked, Title is Edit -->
        <h4 class="modal-title">Edit SkillType</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form  #addSkillTypeForm="ngForm">
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Name:&nbsp;</label>
                <div class="col-sm-10">
                    <input type="text" id="skillTypeName" name=skillTypeName class="form-control" required #skillTypeName="ngModel" [(ngModel)]="skillType.skillTypeName">
                </div>
            </div>
            <div>
                <div class="form-group row">
                    <label for="categories" class="col-sm-6 col-form-label">Active Categories:</label>
                    <div class="col-sm-12">
                      <span *ngFor="let category of skillType.categories">
                          <button type="button" class="input-group-addon pillButtons" (click)="removeCategories(category)" *ngIf="checkContains(category)">{{category.categoryName}}</button>
                          <input type="number" class="input-group col" placeholder="weight"/>
                      </span>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="allCategories" class="col-sm-6 col-form-label">Inactive Categories:</label>
                    <div class="col-sm-10 row">
                      <span *ngFor="let category of allCategories">
                          <button type="button" class="input-group-addon pillButtons" (click)="addToCategories(category)" *ngIf="!checkContains(category)">{{category.categoryName}}</button>
                      </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
        <button type="button" data-dismiss="modal" class="btn btn-outline-dark revatureOrange" (click)="skillTypeUpdate(skillType); savedSuccessfully();" [disabled]="error">Save</button>
    </div>
</ng-template>
