<!-- button to open the modal -->
<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Update trainer profile</button>
<!-- modal for updating trainer profile -->
<!-- currently it is just using trainers[0] but when we figure out the way to get the trainer who is logged in, change it to that -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Update Profile</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="updateInfo()" class="form-signin" #updateForm="ngForm">
    <div class="modal-body">
      <hr class="colorgraph">
      <div class="row">
        <div class="form-group">
          <div class="col-4">
            <label class="col-form-label">Name: </label>
          </div>
          <div class="col-12">
            <input type="text" class="form-control" id="name" [(ngModel)]="trainers[0].name" #picture="ngModel" name="name" value="trainers[0].name"
              pInputText>
          </div>
        </div>
        <div class="form-group">
          <div class="col-4">
            <label for="email" class="col-form-label">Email: </label>
          </div>
          <div class="col-12">
            <input type="text" class="form-control" id="email" [(ngModel)]="trainers[0].email" #picture="ngModel" name="email" pInputText>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>
      <button type="submit" class="btn btn-outline-dark" (click)="c()" value="Update" data-dismiss="modal">Update</button>
    </div>
  </form>
</ng-template>

<!-- Table of all trainers -->
<div>
  <table class='table table-striped'>
    <th>name</th>
    <th>email</th>
    <th>title</th>
    <th>tier</th>
    <tr *ngFor='let trainer of trainers'>
      <td>{{trainer.name}}</td>
      <td>{{trainer.email}}</td>
      <td>{{trainer.title}}</td>
      <td>{{trainer.tier}}</td>
    </tr>
  </table>
</div>