<div class="container">
    <div class="toolbar-container">
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block padding-right">
          <button class="button" id="dropdownBasic1" ngbDropdownToggle>2017</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item">2015</button>
            <button class="dropdown-item">2016</button>
            <button class="dropdown-item">2017</button>
            <button class="dropdown-item">2018</button>
          </div>
        </div>
        <div ngbDropdown class="d-inline-block padding-right">
            <button class="button" id="dropdownBasic1" ngbDropdownToggle>Trainer</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item">Trainer</button>
            <button class="dropdown-item">Trainer 2</button>
            <button class="dropdown-item">Trainer 3</button>
            </div>
        </div>
        <div ngbDropdown class="d-inline-block padding-right">
            <button class="button" id="dropdownBasic1" ngbDropdownToggle>Week (All)</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item">Week 1</button>
            <button class="dropdown-item">Week 2</button>
            <button class="dropdown-item">Week (All)</button>
            </div>
        </div>
        <div ngbDropdown class="d-inline-block padding-right">
            <button class="button" id="dropdownBasic1" ngbDropdownToggle>Trainee (All)</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item">Trainee 1</button>
            <button class="dropdown-item">Trainee 2</button>
            <button class="dropdown-item">Trainee (All)</button>
            </div>
        </div>
    </div>

    <form class="search">
        <input ng-model="chosenTrainee" list="traineeList" type="search" id="searchTextBox" placeholder="Search..." class="search" autocomplete="off">
        <!-- <button type="submit" class="searchButton"><i class="fa fa-search"></i></button> -->
        <datalist id="traineeList">
                <!-- ngRepeat: trainee in allTrainees track by $index --><option ng-repeat="trainee in allTrainees track by $index" ng-value="trainee.name" class="ng-binding ng-scope" value="Ahmed, Sadat">
                    Ahmed, Sadat | sadat.t.ahmed@gmail.com | sadat.t.ahmed 
                </option><!-- end ngRepeat: trainee in allTrainees track by $index --><option ng-repeat="trainee in allTrainees track by $index" ng-value="trainee.name" class="ng-binding ng-scope" value="Ali, Fareed">
                    Ali, Fareed | fareed.ali37@qmail.cuny.edu | live:bassph 
                </option><!-- end ngRepeat: trainee in allTrainees track by $index --><option ng-repeat="trainee in allTrainees track by $index" ng-value="trainee.name" class="ng-binding ng-scope" value="Cartagena, Michael">
                    Cartagena, Michael | mcartagenaez8@gmail.com | mcart5566 
                </option><!-- end ngRepeat: trainee in allTrainees track by $index --><option ng-repeat="trainee in allTrainees track by $index" ng-value="trainee.name" class="ng-binding ng-scope" value="Connelly, Sean">
                    Connelly, Sean | connelsp@gmail.com | seanelly08 
                </option><!-- end ngRepeat: trainee in allTrainees track by $index --><option ng-repeat="trainee in allTrainees track by $index" ng-value="trainee.name" class="ng-binding ng-scope" value="Duong, Jack">
                    Duong, Jack | son.jack0218@gmail.com | imrjack 
                </option><!-- end ngRepeat: trainee in allTrainees track by $index --><option ng-repeat="trainee in allTrainees track by $index" ng-value="trainee.name" class="ng-binding ng-scope" value="Gluskin, Igor">
                    Gluskin, Igor | igorgluskin@yahoo.com | igor.gluskin 
                </option><!-- end ngRepeat: trainee in allTrainees track by $index --><option ng-repeat="trainee in allTrainees track by $index" ng-value="trainee.name" class="ng-binding ng-scope" value="Guan, Kevin">
                    Guan, Kevin | guankev@gmail.com | live:kevguan 
                </option>
        </datalist>

        <div class="dropdown pull-right" ngbDropdown>
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" ngbDropdownToggle>
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownConfig">
                <li><a href="" ng-click="downloadAllChartButton()"> Charts </a></li>
                <li><a href="" ng-click="generatePDF()"> Charts + Feedback </a></li>
            </div>
        </div>
    </form>
  </div>
  
</div>
<hr>

<div id="chart" class="container">
    <div class="panel-heading">
        Cumulative Scores
        <i (click)="downloadPDF()" class="fa fa-download cursorPointer"></i>
    </div>
  <div>
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>


            <div id="customers">
                <h2></h2>
                <span>Span element 1</span>
                <span>Span element 2</span>
                <div>Div element</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Country</th>
                            <th>Population</th>
                            <th>Date</th>
                            <th>Age</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Chinna</td>
                            <td>1,363,480,000</td>
                            <td>March 24, 2014</td>
                            <td>19.1</td>
                        </tr>
                        <tr>
                            <td>India</td>
                            <td>1,241,900,000</td>
                            <td>March 24, 2014</td>
                            <td>17.4</td>
                        </tr>
                        <tr>
                            <td>United States</td>
                            <td>317,746,000</td>
                            <td>March 24, 2014</td>
                            <td>4.44</td>
                        </tr>
                        <tr>
                            <td>Indonesia</td>
                            <td>249,866,000</td>
                            <td>July 1, 2013</td>
                            <td>3.49</td>
                        </tr>
                        <tr>
                            <td>Brazil</td>
                            <td>201,032,714</td>
                            <td>July 1, 2013</td>
                            <td>2.81</td>
                        </tr>
                    </tbody>
                </table>
              </div>
  </div>
</div>
