.button {
    background-color: rgb(255, 255, 255);
    border: none;
    color: #F26925;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.panel-heading {
    background-image: none;
    background-color: #F26925;
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 13px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.padding-right {
    padding-right: 25px;
}

.search {
    /* float: right; */
    margin-top: 5px;
}

.search input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    width: 300px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

.searchButton {
    background-color: Transparent;
    border: none;
    margin-right: 10px;
    height: 35px;
    width: 35px;
    overflow: hidden;
    outline: none;
}

hr {
    height:4px; background: #fff;
    margin-top: 7px;
    padding-top: 5px;
}

.cursorPointer {
    cursor: pointer;
}
