/* simple-notifications {
    position: absolute;
    float: right;
    text-align: center;
} */

:host ::ng-deep simple-notifications .sn-content {
    font-size: 16px;
    width: 40vh;
    height: 4vh;
    text-align: left;
}