<div class="moveRight">

  <div class="container">
    <div class="row justify-content-center">
      <div class="card w-50">
        <h3 class="card-header">Categories</h3>

        <div class="card-body">
          <div *ngIf="track.name === 'Java'">
              <div class="list-group" *ngFor="let trackBucket of allTrackBuckets">
                  <a class="list-group-item list-group-item-action" (click)="routeToBucket(trackBucket.Name)">
                    <span> {{trackBucket.Name}} 
                      &nbsp;
                      {{trackBucket.Weight}}%</span> 
                      <i id="xIcon" class="fa fa-remove pull-right"></i>
                      <i id="penIcon" class="fa fa-pencil pull-right"></i>
                  </a>
              </div>
          </div>
        </div>

        <button class="btn btn-primary btn-sm" id="createTrack" (click)='open(content)'>Add Category</button>
      </div>
    </div>
  </div>
</div>

  <ng-template #content let-c="close" let-d="dismiss">
      <form>
        <div class="form-group">
           
        <h3 class="tb-heading">Add a Category to this Track </h3>
        <label>Category</label>
        <select ng-model="trackBucket" 
        ng-options="trackBucket.Name for trackBucket in allTrackBuckets"
        formControlName="weight" class="form-control">
        </select></div>
        <input type="number" id="weight" name="weight" placeholder="Category Weight" formControlName="weight" class="form-control">

      </form>
  </ng-template>
