<div class="moveRight">
    <div class="track-bucket-container">
                <h3 class="tb-heading">Topics</h3>
                <div *ngIf="track.name === 'Java'">
                    <ul *ngFor="let trackBucket of allTrackBuckets;let i=index" 
                    style="list-style-type:none">
                        <hr>
                        <li class="lists"
                        (click)="routeToBucket(trackBucket.Name)">
                            {{trackBucket.Name}}   {{trackBucket.Weight}}%
                            <span class="fa fa-pencil marker"></span>
                            <span class="fa fa-remove marker2" (click)="removeElement(trackBucket)"></span>
                        </li>
                    </ul>   
        </div>
    </div>