<div class="title">
  <h2>Please Select One Of the Following Applications :</h2>
</div>

<div class="dashboard-container">
  <div class="card app-card text-center" style="width: 20rem; border-color:white" *ngFor="let app of apps; let i = index;" [routerLink]="app.homeUrl">
    <div class="card-block">
        <h1 class="card-title">{{app.name}}</h1>
      </div>

      <div *ngIf="i==0">
        <img class="card-img-bottom" src="http://52.70.53.136:8086/angular/assets/assign-force.png" alt="Card image cap">
      </div>

      <div *ngIf="i==1">
        <img class="card-img-bottom" src="http://52.70.53.136:8086/angular/assets/caliber.png" alt="Card image cap"> 
      </div>

      <div *ngIf="i==2">
        <img class="card-img-bottom" src="http://52.70.53.136:8086/angular/assets/track-force.png" alt="Card image cap">
      </div>
        
  
  </div>

</div>