
<ngb-tabset #tabSet="ngbTabset" (tabChange)="checkForAddTab($event)">

<ngb-tab *ngFor="let week of getBatchWeeks()" [id]="'week-' + week">
    <ng-template ngbTabTitle>
      <a href="#" (click)="setWeek(week)">Week {{ week }}</a>
    </ng-template>
    
    <ng-template ngbTabContent>
       <div *ngFor="let row of data" class="row my-2">

        <div class="col-md-3">
            <p>{{ row.trainee.name }}</p>
        </div>

        <div class="col-md-2">
            <div class="row">
              <select #statusSelect class="custom-select mx-auto text-orange" (change)="onStatusChange(row, statusSelect.value)">
                <option 
                  *ngFor="let status of statusList" 
                  [value]="status" 
                  [selected]="status === row.note.qcStatus">{{ status }} </option>
              </select>
            </div>

            <div class="row mt-3">
              <p class="mx-auto">
                <app-feedback-icon [status]="row.note.qcStatus" css="fa-2x text-orange"></app-feedback-icon>
              </p>
            </div>
        </div>

        <div class="col-md-6">
          <textarea class="form-control" [disabled]="noteIsUndefined(row.note)" [(ngModel)]="row.note.content" rows="4" (change)="saveNote(row.note)"></textarea>
        </div>

      </div>

      <div class="row">
        <hr class="w-100" />
      </div>

      <app-quality-overall-feedback [batchNote]="getBatchNote()"></app-quality-overall-feedback>
    </ng-template>
</ngb-tab>

<ngb-tab id="addWeekTab">
  <ng-template ngbTabTitle>
    <a href="#">
      <span class="fa fa-plus text-orange"></span>
    </a>
  </ng-template>
</ngb-tab>

</ngb-tabset>