 .dropdown-submenu1, .dropdown-submenu2 {
    position: relative;
}

.dropdown-submenu1 .dropdown-menu, .dropdown-submenu2 .dropdown-menu {
    top: 0%;
    left: -101%;
    margin-top: -1px;
    text-align: center;
}

.hover-delete {
    font-weight: bold;
    border-radius: 0px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Futura-Std-Heavy' !important;
}

.hover-delete:hover{
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    color: var(--danger);
    cursor: pointer;
}

:host ::ng-deep ul.nav.nav-tabs.justify-content-start.nav {
    position: relative;
    flex-wrap: nowrap;
}

.accordian {
    max-height: 400px;
    overflow-y: scroll;
}

 .cursor {
    cursor: pointer;
 }

 .fa-trash:hover {
    color: var(--light-grey);
 }

.fa-plus {
    color: var(--orange);
}

.fa-plus:hover {
    color: #007bff;
}
 
  
  
