/* #container {
    margin: 5vmin 0;
}

h1 {
    text-align: center;
    margin-bottom: 10vmin;
}

.content-area {
    background-color: rgb(238, 238, 238);
    min-height: 40vh;
    padding: 20px;
    box-shadow: 1px 1px 2px 2px #444;
    border-radius: 1vmin;
} */