.main-container {
    padding: 10%;
    padding-bottom: 0px;
    padding-top: 0px;
}

.assessment-area {
    width: 60px;
    text-align: left;
    align-content: left;
}

.assessment-header {
    width: 10%;
    text-align: left;
}

.revature-orange{
    color: #F26925;
    background-color: #F26925;
}
