<!--ADD WEEK MODAL **START** -->
  <ng-template #addWeekContent let-c="close" let-d="dismiss" id ="addWeek">
    <div class="modal-header">
      <h4 class="modal-title">Add Week</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure you wish to create a new week? (This cannot be undone.)</p>
     
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary revature-button clickable" (click)="addWeek(); c('Close click');">Confirm</button>
    </div>
  </ng-template>
<!--ADD WEEK MODAL **END**  -->

<!--ADD ASSESSMENT MODAL **START** -->
<ng-template #addAssessmentContent let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Add Assessment</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                <div class="form-group">
                        <label>Assessment Category:</label>
                        <select #cat class="form-control" id="categorySelect" (change)="changeCategory(cat)">
                          <option *ngFor="let category of this.categories">{{category | categorySkill}}</option>
                        </select>
                </div>
                <div>
                    <label>Max Points:</label>
                    <input type="number" class ="form-control" value ="100" [(ngModel)]="newAssessment.rawScore">
                </div>
                <div>
                        <label>Assessment Type:</label>
                        <select class="form-control" id="typeSelect" [(ngModel)]="newAssessment.type">
                          <option>Exam</option>
                          <option>Verbal</option>
                          <option>Project</option>
                          <option>Other</option>
                        </select>
                </div>
        </div>
        <div class="modal-footer">
          <button class = "btn btn-primary revature-button clickable" (click)="this.addAssessment(); c('Close click')">Confirm</button>
        </div>
      </ng-template>
<!--ADD ASSESSMENT MODAL **END**  -->

<!-- EDIT ASSESSMENT MODAL **START** -->
<ng-template #editAssessmentContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Add Assessment</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
              <div class="form-group">
                      <label>Assessment Category:</label>
                      <select #cat class="form-control" id="categorySelect" (change)="editCategory(cat)" [value]="editingAssessment.category.skillCategory">
                        <option *ngFor="let category of this.categories">{{category | categorySkill}}</option>
                      </select>
              </div>
              <div>
                  <label>Max Points:</label>
                  <input type="number" class ="form-control" value ="100" [(ngModel)]="editingAssessment.rawScore">
              </div>
              <div>
                      <label>Assessment Type:</label>
                      <select class="form-control" id="typeSelect" [(ngModel)]="editingAssessment.type">
                        <option>Exam</option>
                        <option>Verbal</option>
                        <option>Project</option>
                        <option>Other</option>
                      </select>
              </div>
      </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-danger clickable" (click)="deleteAssessment(); c('Close click');">Delete</button>
      <button type="button" class="btn btn-primary revature-button clickable" (click)="updateAssessment(); c('Close click');">Update</button>
  </div>
</ng-template>
<!--EDIT ASSESSMENT MODAL **END**  -->

<!-- TABS **START** -->
<div class = "main-container">
    <div class = "buttons">
      <select #bat class="form-control batch-select clickable inline" (change)="switchBatch(bat.value)">
          <option [value]="batch.batchId" *ngFor="let batch of batches">{{batch.trainer.name}} {{batch.startDate}}</option>
      </select>
        <button class="btn btn-secondary clickable strong inline float-right" (click)="open(addAssessmentContent)">Add Assessment  <span class = "fa fa-plus"></span></button>
    </div>
  <hr class ="divider" />
    <ngb-tabset (tabChange)="fetchNews($event)">
        <ngb-tab id="{{i+1}}" *ngFor="let in of counter(this.selectedBatch.weeks); let i = index">
                <ng-template ngbTabTitle>
                    <div class="revature-orange"><b>Week {{i+1}}</b></div> </ng-template>
                <ng-template ngbTabContent></ng-template>
        </ngb-tab>
        <ngb-tab id="+" [disabled]="true" (click)="open(addWeek)" class = "no-padding">
            <ng-template ngbTabTitle class = "no-padding">
                <a href="#" class = "clickable revature-orange" (click)="open(addWeekContent)"><span class="fa fa-plus"></span></a></ng-template>
            <ng-template ngbTabContent></ng-template>
    </ngb-tab>
      </ngb-tabset>
<!-- TABS **END** -->

    <table class="table table-responsive" style="border-collapse: collapse;">
      <thead>
        <tr>
          <th class ="clickable trainee-header">
            <div class ="clickable trainee-header">Trainee</div>
          </th>
          <th class ="clickable assessment-header" *ngFor="let assessment of this.assessments" (click)="editAssessment(editAssessmentContent, assessment);">
            <div class = "assessment-header">{{assessment.category.skillCategory}} {{assessment.type}} ({{getPercentage(assessment)}}%)</div>
          </th>
          <th class = "note">
            Notes
          </th>
        </tr>
      </thead>
      <tr *ngFor="let trainee of selectedBatch.trainees">
        <td>
          {{trainee.name}}
        </td>
        <td *ngFor="let assessment of assessments">
            <input #inputGradeScore class="form-control assessment-area" type="text" [value]="getGrade(trainee, assessment).score"
            (change)="updateGrade(trainee, assessment, inputGradeScore)">
        </td>
        <td>
            <textarea #inputNote *ngIf="trainee" class="form-control note" id="exampleTextarea" rows="2" [value]="getNote(trainee).content" (change)="updateNote(getNote(trainee), inputNote)"></textarea>
        </td>
      </tr>
      <tr>
        <td><strong>Average</strong></td>
        <td *ngFor="let assessment of assessments" class = "centered">{{getAssessmentAverage(assessment) | number:'1.2-2'}}%</td>
        <td><strong>Weekly Batch Average: </strong>{{getOverallAverage() | number:'1.2-2'}}%</td>
      </tr>
    </table>
</div>



