
.panel-heading {
    background: rgb(242, 105, 37);
    color: white;
    padding: 1vmin;
    border-top-left-radius: 2vmin;
    border-top-right-radius: 2vmin;
}

.panel-body {
    border: 1px solid rgb(221, 221, 221);
}

.feedback-heading {
    background: rgb(114, 164, 194);
    color: white;
    padding: 1vmin;
    border-top-left-radius: 2vmin;
    border-top-right-radius: 2vmin;
}

.overall-feedback-title {
    font-weight: 500;
    text-align: left;
}

.panel-status-failed {
    color: red;
}

.panel-status-pass {
    color: green;
}

thead {
    font-weight: bold;
    text-align: center;
}
