<div class="row">
  <div class="table-responsive">
    <table class="table bg-light table-hover">
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Main Phone</th>
      <th>Secondary Phone</th>
      <th>Skype</th>
      <th>Remove from Batch</th>
    </thead>
    <tbody>
      <tr *ngFor="let user of associates | search : 'all' : searchTerm">
        <td>{{ user.fName }}</td>
        <td>{{ user.lName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.phone2}}</td>
        <td>{{ user.skype}}</td>
        <td class="text-center"> <button class="btn btn-link" (click)="removeUser(user)"><i class="fa fa-times"></i></button> </td>
      </tr>
    </tbody>
  </table>

  </div>
</div>