<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <button class="btn btn-block topic new-topic" data-toggle="modal" data-target="#addTopicModel">Add New Topic</button>    
  </div>
</div>

<div class="row justify-content-center">
  <img src="../../../../../../assets/revatureLoad.gif" class="text-center" *ngIf="subTopicName.length === 0">
  <div class="col-sm-12 col-md-12 col-lg-12" id="accordian">
    <app-topic-search class="mt-1"></app-topic-search>
  </div>
    <div class="col-sm-11 col-md-11 col-lg-11" *ngFor="let topic of uniqarrFiltered; let i = index">
      <div (click)="clearSubtopicSearch()" class="topic" data-toggle="collapse" [attr.data-target]="'#'+i" aria-expanded="true" aria-controls="collapseOne">
        <p class="mb-0">
          {{topic}} <span (click)="getNewSubTopicReady(i)">
            <i class="fa fa-plus-circle mt-1" data-toggle="modal" data-target="#addSubTopicModel"></i>
          </span>
        </p>
      </div>
      <div [attr.id]="i" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
        <app-subtopic-search></app-subtopic-search>
        <div *ngFor="let sub of subArray[i] | search : 'name' : searchText">
          <div pDraggable="subtopicdrag" (onDragStart)="sendCurrentlyDragged(sub)" [ngClass]="{'noTouch':readOnly}" class="subtopic col-sm-10 col-md-10 col-lg-10 offset-1 rounded">
            <p placement="top" [ngbTooltip]="sub.name" class="mb-0 subtopic-text text-truncate text-center">
              {{sub.name}}
            </p>
          </div>
        </div>
      </div>
    </div>
</div>


<div id="addTopicModel" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New Topic</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
              Topic:<input #addNewTopic class="form-control" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
              Subtopic: <input #defaultSubTopic class="form-control" />
            </div>
          </div>
        </div>
        
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)=" createTopic(addNewTopic.value, defaultSubTopic.value); addNewTopic.value =''; defaultSubTopic.value ='';" data-dismiss="modal">Create</button>
      </div>
    </div>
  </div>
</div>

<div id="addSubTopicModel" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New Subtopic</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        Subtopic: <br> <input #newSubTopic class="addCur" /> <br><br>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" (click)="createSubTopic(newSubTopic.value); newSubTopic.value ='';" data-dismiss="modal">Create</button>
      </div>
    </div>
  </div>
</div>