<!--view all trainers-->
<div id="trainers-table">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Email</th>
        <th>Tier</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trainer of trainers">
        <td>
          {{trainer.name}}
        </td>
        <td>
          {{trainer.title}}
        </td>
        <td>
          {{trainer.email}}
        </td>
        <td>
          {{trainer.tier}}
        </td>
        <td>
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </td>
        <td>
          <app-deactivatetrainer [trainer] = "trainer"></app-deactivatetrainer>
        </td>
      </tr>
    </tbody>
  </table>
</div>