<div id="accordian" class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mt-1">
        <div class="card">
        <div class="card-header" data-toggle="collapse" [attr.data-target]="'#' + weekNum + 'w'">
          <div class="row justify-content-between">
              <div class="col-sm-6 col-md-6 col-lg-6 mb-0">  
                <h5>Week #{{weekNum}}
                    <small *ngIf="readOnly" class="read-only muted">READ ONLY</small>
                </h5>
              </div>
              <div class="col-sm-2 col-md-2 col-lg-2 text-right">
                  <i *ngIf="!readOnly" class="fa fa-times-circle" data-toggle="dropdown"></i>
                  <div class="removeWeekBtn" >              
                    <div class = "dropdown-menu" role="menu" >
                     <p class="font-weight-bold">Delete Week #{{weekNum}}?</p>
                     <button class="btn btn-primary" (click)="removeWeekCall()">Yes</button>
                     <button class="btn btn-default"> No</button>
                    </div>
                </div>
              </div>
          </div>
          <div *ngIf="readOnly" class="row">
              <div  *ngFor="let topic of percentageNums; let i = index" class="progress-bar" 
              role="progressbar" [style.background-color]=" i%2 ? '#474c55': '#f47f43'"
              [style.width]="((topic/total)*100)+'%'" placement="top" [ngbTooltip]="percentageNames[i]">
                <span class="text-truncate">{{percentageNames[i] | uppercase}}</span>
              </div>
          </div>
        </div>
        <div [attr.id]="weekNum + 'w'" class="collapse hide" data-parent="#accordion">
            <div class="card-body">
                <div class="row" style="min-height: 40px;">
                    <div class="day border text-center" pDroppable="subtopicdrag" (onDrop)="dropIt(0)"><span class="day-text">Monday</span>
                        <div class="row subtopic-selector justify-content-center">
                            <div class="col-11 border text-truncate rounded subtopic" pDraggable="subtopicdrag" (onDragStart)="pickItUp(day, 0)" (onDragEnd)="putItDown(day, 0)" [ngClass]="{'noTouch' : readOnly}" *ngFor="let day of monday.subtopics"><button class="close" *ngIf="!readOnly" (click)="removeSubtopic(day, 0)">&times;</button>{{day.name}}
                            </div>
                        </div>
                    </div>
                    <div class="day border border-left-0 text-center" pDroppable="subtopicdrag" (onDrop)="dropIt(1)"><span class="day-text" >Tuesday</span>
                        <div class="row subtopic-selector justify-content-center">
                            <div class="col-11 border text-truncate rounded subtopic" pDraggable="subtopicdrag" (onDragStart)="pickItUp(day, 1)" (onDragEnd)="putItDown(day, 1)" [ngClass]="{'noTouch' : readOnly}" *ngFor="let day of tuesday.subtopics"><button *ngIf="!readOnly" (click)="removeSubtopic(day, 1)" class="close">&times;</button>{{day.name}}</div>
                        </div>
                    </div>
                    <div class="day border border-left-0 text-center" pDroppable="subtopicdrag" (onDrop)="dropIt(2)"><span class="day-text">Wednesday</span>
                        <div class="row subtopic-selector justify-content-center">
                            <div class="col-11 border text-truncate rounded subtopic" pDraggable="subtopicdrag" (onDragStart)="pickItUp(day, 2)" (onDragEnd)="putItDown(day, 2)" [ngClass]="{'noTouch' : readOnly}" *ngFor="let day of wednesday.subtopics"><button *ngIf="!readOnly" (click)="removeSubtopic(day, 2)" class="close">&times;</button>{{day.name}}</div>
                        </div>
                    </div>
                    <div class="day border border-left-0 border-bottom text-center" pDroppable="subtopicdrag" (onDrop)="dropIt(3)"><span class="day-text">Thursday</span>
                        <div class="row subtopic-selector justify-content-center">
                            <div class="col-11 border text-truncate rounded subtopic" pDraggable="subtopicdrag" (onDragStart)="pickItUp(day, 3)" (onDragEnd)="putItDown(day, 3)" [ngClass]="{'noTouch' : readOnly}" *ngFor="let day of thursday.subtopics"><button *ngIf="!readOnly" (click)="removeSubtopic(day, 3)" class="close">&times;</button>{{day.name}}</div>
                        </div>
                    </div>
                    <div class="day border border-left-0 border-bottom border-right text-center" pDroppable="subtopicdrag" (onDrop)="dropIt(4)"><span class="day-text">Friday</span>
                        <div class="row subtopic-selector justify-content-center">
                            <div class="col-11 border text-truncate rounded subtopic" pDraggable="subtopicdrag" (onDragStart)="pickItUp(day, 4)" (onDragEnd)="putItDown(day, 4)" [ngClass]="{'noTouch' : readOnly}" *ngFor="let day of friday.subtopics"><button *ngIf="!readOnly" (click)="removeSubtopic(day, 4)" class="close">&times;</button>{{day.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
