#bucket-header
{
  background-color: #e6e6e6;
}

#back-to-buckets {
    text-align: right;
    color: #000000;
    cursor: pointer;
    cursor: hand;
  }

h2{
  text-align:left;
  color:#000000;
  padding-bottom: 15px;
  padding-top: 10px;

}

h6 {
  text-align: center;
}
  
  #xIcon {
    color: #F26925;
    margin-left: 10px;
  }
  
  #penIcon {
    color: #F26925;
  }
  .revatureOrange{
    background-color: #F26925;
}  
.card-width{
  width: 85%;
  height: 50%;
}
.card-height{
  height: 25%;
}

.btn{
  background-color:#c6c6c6;
  text-align: left;
}


