<!-- Showing Bucket (Category) name and description - non-editable -->
<div class="bucket-header">
    <a class="btn pull-right" (click)="routeToAllBuckets()">Back To Skill Types</a>
    <!--Bucket category (the name displayed)-->
    <h2 *ngIf="this.theBucket" class="bucket-header">
        {{this.theBucket.bucketCategory}}
    </h2>
    <!-- Bucket description (the description displayed)-->
    <p *ngIf="this.theBucket" id="bucket-desc">
        {{this.theBucket.bucketDescription}}
    </p>

</div>
<div>

    <!--Question Component-->
    <app-question></app-question>



</div>