<!-- Showing Bucket (Category) name and description - non-editable -->
<div id="bucket-header">
    <h3 (click)="routeToScreening()">Back To Screening</h3>
    <h2 *ngIf="this.theBucket">
        {{this.theBucket.name}}
    </h2>

</div>
<div>
    <div class="container">
        <div class="row justify-content-center">


            <div class="container">

                <p *ngIf="this.theBucket" id="buck-description">
                    {{this.theBucket.description}}
                </p>
            </div>

        </div>
    </div>
    <!--Question Component-->
    <app-question></app-question>



</div>
<br>
<br>

<!--Creating edit name modal -->
<ng-template #editname let-c="close" let-d="dismiss">
    <form>
        <div class="form-group">

            <h3 class="tb-heading_rev_orange">Edit Category Name</h3>
            <label>New Bucket name:

            </label>
            <input class="form-control" type="text" name="new_name">
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
                <button type="button" data-dismiss="modal" class="btn btn-outline-dark" (click)="editBucketName(new_name); c('Close click')">Save</button>
            </div>
        </div>
    </form>

</ng-template>

<!--Creating edit description modal -->
<ng-template #editdesc let-c="close" let-d="dismiss">
    <form>
        <div class="form-group">

            <h3 class="tb-heading_rev_orange">Edit Description</h3>
            <label>New Description:

            </label>
            <input class="form-control" type="text" name="new_desc">
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
                <button type="button" data-dismiss="modal" class="btn btn-outline-dark" (click)="editBucketDescription(new_desc); c('Close click')">Save</button>
            </div>
        </div>
    </form>
</ng-template>