.top10 {
    margin-top: 1em;
}

ul {
    list-style: none;
    
}

li {
    display: inline;
    font-family: 'Futura-Std-Heavy';
    text-align: -webkit-match-parent;
}

a {
    position: relative;
    display: block;
    padding: 10px 15px;
}


li a:hover:not(.active) {
    background-color: #ddd;
    transition: background-color 1s ease;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}

.nav {
    position: relative;
    display: block;
}

.nav-tabs {
    border-bottom: 1px solid;
    float: left;
    width: 100%
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
  }

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
