h3 {
  text-align: center;
  color: white;
}

.card-header {
  background-color: #F26925;
}

h6 {
  text-align: center;
}

#xIcon {
  color: #F26925;
  margin-left: 10px;
}

#penIcon {
  color: #F26925;
}

i {
  cursor: pointer;
  cursor: hand;
}

/*.wrapper{*/
    /*border: 1px solid black;
    box-shadow: 5px 9px;
    border-radius: 5px;
    text-align: center;*/
    /*position: relative;*/
    /*width: 55%;*/
    /*left: 25%;*/
/*}*/

/*#createTrack{*/
    /*position: absolute;*/
    /*left: 67%;*/
    /*float: right;*/
/*}*/

/** not being used **/
.marker{
    position:absolute;
    left:95%;
}

/** not being used **/
.marker2{
    position: absolute;
    left:100%;
}

  
  
  /** not being used **/
  .marker{
      position:absolute;
      left:95%;
  }
  
  /** not being used **/
  .marker2{
      position: absolute;
      left:100%;
  }
  #list-item{
      border: solid black 0.5px;
  }
  
  .percentSign{
      background-color: inherit;
      border-right: 1px solid #ccc;
  }
  
  .bucketWeight{
      text-align: right;
  }
  
  .revatureOrange{
      background-color: #F26925;
  }
  .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }
    /* Hide default HTML checkbox */
  .switch input {display:none;}

  