h3 {
  text-align: center;
  color: white;
}

.card-header {
  background-color: #F26925;
}

h6 {
  text-align: center;
}

#xIcon {
  color: #F26925;
  margin-left: 10px;
}

#xIcon:hover{
    color:black;
}

#penIcon {
  color: #F26925;
}
#penIcon:hover{
    color:black;
}
i {
  cursor: pointer;
  cursor: hand;
}
#buckets{
    position: absolute;
    left:33%;
    width: 80%;
}

/** not being used **/
.marker{
    position:absolute;
    left:95%;
}

/** not being used **/
.marker2{
    position: absolute;
    left:100%;
}

  
  
  /** not being used **/
  .marker{
      position:absolute;
      left:95%;
  }
  
  /** not being used **/
  .marker2{
      position: absolute;
      left:100%;
  }
  #list-item{
      border: solid black 0.5px;
  }
  
  .percentSign{
      background-color: inherit;
      border-right: 1px solid #ccc;
  }
  
  .bucketWeight{
      text-align: right;
  }
  
  .revatureOrange{
      background-color: #F26925;
  }
  #xIcon:hover .removeToolTip{
      visibility: visible;
  }
  .removeToolTip{
      visibility: hidden;
      position: absolute;
      float: right;
      left: 90%;
      top:70%;
      
  }

  #penIcon:hover .editToolTip{
    visibility: visible;
}
.editToolTip{
    color: black;
    visibility: hidden;
    position: absolute;
    float: right;
    width: 10%;
    left: 87%;
    top:70%;
    
}
/*
.editToolTip:after {
	z-index: -1;
	position: absolute;
    top: 98.1%;
    left: 70%;
    margin-left: -25%;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 50px #e15915;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}
*/


  