<div class="border border-secondary">
  <div class="container">

    <div class="row">
      <div class="col">
        <h3>General Feedback</h3>
      </div>
    </div>
    <hr/>
    <div class="row justify-content-center">
      <div class="col-5">
        <strong>Criteria</strong>
      </div>
      <div class="col-5">
        <strong>Comment</strong>
      </div>
    </div>
    <hr/>

    <div class="form-group" [formGroup]="generalFeedback">

      <div class="row justify-content-center">
        <div class="col-5">
          <label for="associateIntroduction">Associate Introduction</label>
        </div>
        <div class="col-5">
          <textarea formControlName="associateIntro" class="form-control" id="associateIntroduction" rows="1" cols="30"></textarea>
        </div>
      </div>

      <hr/>

      <div class="row justify-content-center">
        <div class="col-5">
          <label for="projOne">Project One Explanation</label>
        </div>
        <div class="col-5">
          <textarea formControlName="projectOneDescription" class="form-control" id="projOne" rows="1" cols="30"></textarea>
        </div>
      </div>

      <hr/>

      <div class="row justify-content-center">
        <div class="col-5">
          <label for="projTwo">Project Two Explanation</label>
        </div>
        <div class="col-5">
          <textarea formControlName="projectTwoDescription" class="form-control" id="projTwo" rows="1" cols="30"></textarea>
        </div>
      </div>

      <hr/>

      <div class="row justify-content-center">
        <div class="col-5">
          <label for="projThree">Project Three Explanation</label>
        </div>
        <div class="col-5">
          <textarea formControlName="projectThreeDescription" class="form-control" id="projThree" rows="1" cols="30"></textarea>
        </div>
      </div>

      <hr/>

      <div class="row justify-content-center">
        <div class="col-5">
          <label for="communicationSkills">Communication Skills</label>
        </div>
        <div class="col-5">
          <textarea formControlName="communicationSkills" class="form-control" id="communicationSKills" rows="1" cols="30"></textarea>
        </div>
      </div>

    </div>

  </div>
</div>