.top-buffer {
    padding-top: 20px;
}

/*
* custom size for NgModal
*/
@media (min-width: 992px) {
    .modal-lg {
        max-width: 80% !important;
    }
}

.container {
    padding: 0px;
}

.align-self-end {
    margin-bottom: 90px;
}

#deleteFeedback {
    margin-left: 50px;
    margin-bottom: 10px;
}

.btn-secondary:disabled {
    background-color: white;
    color: #fa7427;
    border-bottom: 1px solid #ebe8e8;
    border-color: white;
}

.btn-secondary {
    background-color: white;
    color: #fa7427;
    border-bottom: 1px solid #ebe8e8;
    border-color: white;
}
.btn-secondary:hover:enabled {
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    color: #10009c;
    transition: 1s;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

 app-alerts {
     position: absolute;
     z-index: 99999;
 }

h3 {
    background-color: #F26925;
    padding-left: 10px;
 }

