thead {
    font-weight: 800;
}

.container {
    margin-bottom: 20px;
    padding: 0px;
}

.feedback-body {
    border: 1px solid rgb(221, 221, 221);
    border-top: 0px;
    padding: 8px;
    padding-bottom: 0px;
}

.feedback-sub {
    margin-bottom: 8px;
}

.panel {
    margin-bottom: 20px;
}

.panel-body {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 14px;
    padding: 15px;
}

.panel-heading {
    background-color: #f26925;
    border: solid 1px transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 15px;
}

@media only screen and (max-width: 765px) {
    .table-mobile {
       border: solid 1px #ddd;
       border-radius: 3px;
    }
}