
/* Tags */
canvas {
    padding: 3vmin;
}

tbody {
    margin-left: 0;
    margin-right: 0;
}

td {
    border: none;
}

th {
    border: none !important;
}

thead {
    font-weight: bold;
    text-align: center;
}

tr {
    border: 1px rgb(221, 221, 221) solid;
    border-bottom: none;
    text-align: left;
}

tr {
    padding-right: none !important;
    padding-left: none !important;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid rgb(221, 221, 221);
}

tr:last-child, tr:nth-last-child(2):nth-child(odd) {
    border-bottom: none;
}

tr:nth-child(odd) {
    border-right: 1px solid rgb(250, 250, 250);
}

/* Classes */
.container {
    margin: 20px 0px;
    padding: 0px;
}

.fa {
    cursor: pointer;
}

.panel-body {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 14px;
    padding: 15px;
}

.panel-heading {
    background-color: #f26925;
    border: solid 1px transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 15px;
}

.panel-repeat-topics-passed {
    color: rgb(252,221,115);
}

.panel-status-failed {
    color: red;
}

.panel-status-pass {
    color: green;
}

.trainee-name {
    text-align: left;
}

@media only screen and (max-width: 765px) {
    .table-mobile {
       border: solid 1px #ddd;
       border-radius: 3px;
    }
}