
<div id="manage" class="container">

  <div class="row mb-3">
    <!-- Select year dropdown -->
    <div ngbDropdown class="d-inline-block mr-3">
      <button class="btn btn-secondary" id="dropdownBasic1" ngbDropdownToggle><strong>Select Year</strong></button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <div *ngFor="let year of getBatchListYears(batches)">
          <button class="dropdown-item" (click)="setCurrentYear(year)">{{ year }}</button>
        </div>
      </div>
    </div>

    <div class="btn-group" role="group">
      <button class="btn btn-secondary" (click)="openBatchModal(null)"><strong>Create Batch</strong></button>
      <button class="btn btn-secondary" (click)="openImportBatchModal(importBatch)"><strong>Import Batch</strong></button>
    </div>
  </div>

  <!-- Displays batches by year on the manage batch landing page -->
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <table class="table table-hover">
  
        <thead>
          <tr>
            <th>Training Name</th>
            <th>Training Type</th>
            <th>Skill Type</th>
            <th>Trainer</th>
            <th>Location</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Good Grade</th>
            <th>Passing Grade</th>
            <th></th>
          </tr>
        </thead>
  
        <tbody>
          <tr *ngFor="let batch of batches | DisplayBatchByYear:currentYear">
            <td>{{batch.trainingName}}</td>
            <td>{{batch.trainingType}}</td>
            <td>{{batch.skillType}}</td>
            <td>{{batch.trainer.name}}</td>
            <td>{{batch.address | addressToString }}</td>
            <td>{{batch.startDate | date:'MM/dd/yyyy'}}</td>
            <td>{{batch.endDate | date:'MM/dd/yyyy'}}</td>
            <td>{{batch.goodGradeThreshold}}</td>
            <td>{{batch.borderlineGradeThreshold}}</td>
            <td>
                <i class="fa fa-users" style="color:#fa7427 ;"  (click)="openViewBatchTraineesModal(traineesInBatch, batch)" [title]="batch.trainees.length + ' Trainees'"></i>
                </td>
                <td>
                <i class="fa fa-pencil" style="color:#fa7427 ;"  (click)="openUpdateBatchModal(batch)"></i>
                </td>
                <td>
                <i class="fa fa-times" style="color:#fa7427 ;"  (click)="deleteBatchFunction(batch)"></i>
            </td>
          </tr>
        </tbody>
  
      </table>
    </div>
  </div>

</div>
  
      <!-- Import batch modal -->
      
      <ng-template #importBatch let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Import Batch</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="form-group col-md-6 col-sm-6">
                    <label for="trainingName">Training Name:</label> <input
                      ng-model="trainingName.model" type="text" class="form-control"
                      id="trainingName" placeholder="1611 Jul11 Java"
                      ng-required="true">
                  </div>
                  </div>
                  </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
            <input type="submit" value="Import" class="btn btn-secondary" style="color:#fa7427 ;" />
          </div>
        </ng-template>

        
        
        <!-- Batch trainee modal
          shows table of trainees and their information by batch -->
        
        <div class="batch-trainee-modal-container"></div>
        <ng-template #traineesInBatch let-c="close" let-d="dismiss">
          <div class = "bigmodal">
            <div class="modal-header">
              <h4 class="modal-title">View/Add Trainees</h4>
              <button class="btn btn-secondary" style="color:#fa7427 ;" (click)="deleteAllTraineesFunction(currentBatch)"><strong>Delete All Trainees</strong></button>
              <button class="btn btn-secondary" style="color:#fa7427 ;" (click)="openCreateTraineeModal(createTrainee)"><strong>Add Trainee+</strong></button>
            </div>
            <!-- <div class="col-md-12 col-lg-12"> -->
            <div class="modal-body">
                        <table class="table table-responsive">
                          <thead>
                            <tr>
                              <th>Trainee Name</th>
                              <th>Trainee Email</th>
                              <th>Training Status</th>
                              <th>Phone Number</th>
                              <th>Skype Id</th>
                              <th>Profile URL</th>
                              <th>Recruiter Name</th>
                              <th>College</th>
                              <th>Degree</th>
                              <th>Major</th>
                              <th>Tech Screener</th>
                              <th>Project Completion</th>
                              <th></th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let trainee of currentBatch.trainees">
                                <td>{{trainee.name}}</td>
                                <td>{{trainee.email}}</td>
                                <td>{{trainee.trainingStatus}}</td>
                                <td>{{trainee.phoneNumber}}</td>
                                <td>{{trainee.skypeId}}</td>
                                <td>
                                    <a *ngIf="trainee.profileUrl" [href]="trainee.profileUrl"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                                </td>
                                <td>{{trainee.recruiterName}}</td>
                                <td>{{trainee.college}}</td>
                                <td>{{trainee.degree}}</td>
                                <td>{{trainee.major}}</td>
                                <td>{{trainee.techScreenerName}}</td>
                                <td>{{trainee.projectCompletion}}</td>
                                <td>
                                    <i class="fa fa-pencil" style="color:#fa7427 ;" aria-hidden="true" (click)="openUpdateTraineeModal(createTrainee, trainee)"></i>
                                </td>
                                <td><i class="fa fa-times" style="color:#fa7427 ;" aria-hidden="true" (click)="deleteTraineeFunction(trainee)"></i></td>
                            </tr>      
                          </tbody>
                        </table>
                      </div>
                    </div>
          </ng-template>
      
     








<!-- Update batch modal -->

<ng-template #updateBatch let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Update Batch</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group col-md-6 col-sm-6">
              <label for="trainingName">Training Name:</label> <input
                [(ngModel)]="batchToUpdate.trainingName" value="batchToUpdate.trainingName" type="text" class="form-control"
                id="trainingName"
                ng-required="true">
            </div>
            <div class="form-group col-md-6 col-sm-6">
                <label for="trainingType">Training Type</label> <select
                [(ngModel)]="batchToUpdate.trainingType" class="form-control" id="trainer">
                <option value="" disabled>Select Training Type</option>
                <option *ngFor="let trainType of trainingTypes">{{trainType}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6 col-sm-6">
                <label for="skills">Skills</label> <select
                [(ngModel)]="batchToUpdate.skillType" class="form-control" id="skills">
                <option value="" disabled>Select Skill Type</option>
                <option *ngFor="let skill of skills">{{skill}}</option>
              </select>
            </div>
            <!-- Dropdown for location -->
            <div class="form-group col-md-6 col-sm-6">
                <label for="location">Location</label>
                <select #selectUpdateLocation (change)="onUpdateBatchLocationSelect(selectUpdateLocation.value)" class="form-control" id="location">
                    <option value="" disabled>Select Location</option>
                  <option *ngFor="let location of locations" [value]="location.addressId" [selected]="location.addressId === currentBatch.address.addressId">{{location.addressId}}, {{location.city}}, {{location.state}}</option>
                </select>
            </div>
          </div>
            <!-- Dropdown ends -->
      <div class="row">
          <div class="form-group col-md-6 col-sm-6">
              <label for="trainer">Trainer:</label> 
                <select #selectTrainer (change)="onTrainerSelect(selectTrainer.value)" class="form-control" id="trainer">
                  <option value="">Select Trainer</option>
                <option *ngFor="let trainer of trainers" [value]="trainer.trainerId" [selected]="trainer.trainerId === currentBatch.trainer.trainerId">{{trainer.name}}</option>
              </select>
          </div>
          <div class="form-group col-md-6 col-sm-6">
            <label for="co-trainer">Co-Trainer:</label> <select
              [(ngModel)]="batchToUpdate.coTrainer" class="form-control" id="co-trainer">
              <option value="">Select Co-Trainer</option>
              <option *ngFor="let trainer of trainers">{{trainer.name}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6 col-sm-6"
            moment-picker="startDate.model" format="YYYY-MM-DD">
            <label for="start-date">Start Date:</label>
            <div class="input-group" id="start-date" data-datepicker="true">
                <input class="form-control" placeholder="Start Date"
                name="dp" [(ngModel)]="batchToUpdate.startDate" ngbDatepicker #d="ngbDatepicker">
         <button class="input-group-addon" (click)="d.toggle()" type="button">
            <i class="fa fa-calendar" style="color:#fa7427 ;" aria-hidden="true"></i>
         </button>
            </div>
          </div>
          <div class="form-group col-md-6 col-sm-6"
          moment-picker="endDate.model" format="YYYY-MM-DD">
          <label for="end-date">End Date:</label>
          <div class="input-group" id="end-date" data-datepicker="true">
              <input class="form-control" placeholder="End Date"
              name="dp2" [(ngModel)]="batchToUpdate.endDate" ngbDatepicker #d2="ngbDatepicker">
       <button class="input-group-addon" (click)="d2.toggle()" type="button">
          <i class="fa fa-calendar" style="color:#fa7427 ;" aria-hidden="true"></i>
       </button>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6 col-sm-6">
            <label for="goodGrade">Good Grade: <span
              title="The minimum acceptable grade."
              alt="The minimum acceptable grade."
              class="glyphicon glyphicon-question-sign"></span></label> <input
              [(ngModel)]="batchToUpdate.goodGradeThreshold" ng-change="setMinGrade()"
              type="number" min="0" step="1" class="form-control"
              id="goodGrade" placeholder="80" ng-required="true">
          </div>
          <div class="form-group col-md-6 col-sm-6">
            <label for="borderlineGrade">Passing Grade: <span
              title="The minimum grade required to pass. Falling below this grade will likely result in disciplinary action."
              alt="The minimum grade required to pass. Falling below this grade will likely result in disciplinary action."
              class="glyphicon glyphicon-question-sign"></span></label> <input
              [(ngModel)]="batchToUpdate.borderlineGradeThreshold"
              ng-change="lowerMinGrade()" type="number" min="0" step="1"
              class="form-control" id="borderlineGrade" placeholder="50"
              ng-required="true">
          </div>
        </div>
        
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
      <button class="btn btn-xs btn-outline-primary" style="color:#fa7427 ;" (click)="updateBatchFunction()">Update Batch</button>
    </div>
  </ng-template>






   <!-- Create trainee modal -->

   <ng-template #createTrainee let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 *ngIf="isNew" class="modal-title">Add Trainee</h4>
        <h4 *ngIf="!isNew" class="modal-title">Update Trainee</h4>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="form-group col-md-6 col-sm-6">
                <label for="fullName">Trainee Name:</label> <input
                  [(ngModel)]="createNewTrainee.name" type="text" class="form-control"
                  id="name" placeholder="Name">
              </div>
              <div class="form-group col-md-6 col-sm-6">
                  <label for="email">Email:</label> <input
                    [(ngModel)]="createNewTrainee.email" type="text" class="form-control"
                    id="email" placeholder="Email">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-sm-6">
                    <label for="skypeId">Skype Id:</label> <input
                      [(ngModel)]="createNewTrainee.skypeId" type="text" class="form-control"
                      id="skypeId" placeholder="Skype Id">
                  </div>
                  <div class="form-group col-md-6 col-sm-6">
                <label for="phone">Phone:</label> <input
                  [(ngModel)]="createNewTrainee.phoneNumber" type="text" class="form-control"
                  id="phone" placeholder="(xxx)xxx-xxxx">
              </div>
            </div>
              <!-- Dropdown ends -->
        <div class="row">
            <div class="form-group col-md-6 col-sm-6">
                <label for="college">College</label> <input
                  [(ngModel)]="createNewTrainee.college" type="text" class="form-control"
                  id="college" placeholder="College">
              </div>
              <div class="form-group col-md-6 col-sm-6">
                  <label for="degree">Degree:</label> <input
                    [(ngModel)]="createNewTrainee.degree" type="text" class="form-control"
                    id="degree" placeholder="Degree">
                </div>
            
          </div>
          <div class="row">
              <div class="form-group col-md-6 col-sm-6">
                  <label for="major">Major:</label> <input
                    [(ngModel)]="createNewTrainee.major" type="text" class="form-control"
                    id="major" placeholder="Major">
                </div>
                <div class="form-group col-md-6 col-sm-6">
                    <label for="Recruiter Name:">Recruiter Name:</label> <input
                      [(ngModel)]="createNewTrainee.recruiterName" type="text" class="form-control"
                      id="recruiterName" placeholder="Recruiter Name">
                  </div>
            
          </div>
          <div class="row">
              <div class="form-group col-md-6 col-sm-6">
                  <label for="techScreenerName">Tech Sreener Name:</label> <input
                    [(ngModel)]="createNewTrainee.techScreenerName" type="text" class="form-control"
                    id="techScreenerName" placeholder="Tech Screener Name">
                </div>
                <div class="form-group col-md-6 col-sm-6">
                    <label for="projectCompletion">Project Completion:</label> <input
                      [(ngModel)]="createNewTrainee.projectCompletion" type="text" class="form-control"
                      id="projectCompletion" placeholder="0%">
                  </div>
            
          </div>
        <div class="row">
            <div class="form-group col-md-6 col-sm-6">
                <label for="profileUrl">Profile URL:</label> <input
                  [(ngModel)]="createNewTrainee.profileUrl" type="text" class="form-control"
                  id="profileUrl" placeholder="http://www.example.com/revature">
              </div>

          </div>
          <div class ="row">
              <div class="form-group col-md-6 col-sm-6">
                  <label for="trainingStatus">Training Status</label> <select
                  [(ngModel)]="createNewTrainee.trainingStatus" class="form-control" id="trainer"
                  placeholder="Select Status">
                  <option value="" disabled>Select Status</option>
                  <option *ngFor="let status of statuses">{{status}}</option>
                </select>
              </div>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
        <button class="btn btn-secondary" *ngIf="isNew" style="color:#fa7427 ;" (click)="createNewTraineeFunction()"><strong>Add Trainee</strong></button>
        <button class="btn btn-secondary" *ngIf="!isNew" style="color:#fa7427 ;" (click)="updateTraineeFunction()"><strong>Update Trainee</strong></button>

      </div>
    </ng-template>




    