<div class="border border-secondary">
  <div class="container">

    <div class="row">
      <div class="col">
        <h3 id="title" class="panel-heading">Overall Feedback</h3>
      </div>
    </div>

    <div class="form-group" [formGroup]="overallFeedback">

      <div id="pad" class="row justify-content-center">
        <div class="col-3">
          <label class="heading" for="interviewDuration">Interview Duration</label>
          <textarea formControlName="duration" class="form-control" id="duration" rows="1" cols="30"></textarea>
        </div>
        <div class="col-9">
          <label class="heading" for="recordingLink">Recording Link</label>
          <textarea formControlName="recordingLink" class="form-control" id="recordingLink" rows="1" cols="30"></textarea>
        </div>
      </div>

      <div id="pad" class="row justify-content-center">
        <div class="col-3">
          <label class="heading" for="panelStatus">Panel Status</label>
          <input formControlName="status" class="form-control" id="panelStatus" type="text">
        </div>
        <div class="col-9">
          <label class="heading" for="overall">Overall</label>
          <textarea formControlName="overall" class="form-control" id="overall" rows="1" cols="30"></textarea>
        </div>
      </div>

    </div>


  </div>
</div>