.button {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    color: #F26925;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
}

.button {
    margin: 0px;
    margin-top: 20px;
    height: 40px;
}

.button:hover,
.button:focus {
    color: #337ab7;
    background-color: #f3f3f1;
    transition: all 500ms linear;
    transition-delay: 0.25s;
    -webkit-transition-delay: 0.25s;
}

.search {
    margin: 0px;
    margin-left: 98px;
    display: inline-block;
    position: relative;
}

.search input {
    width: 275px;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 30px 5px 10px;
    text-indent: 10px;
    color: #4b4a4a
}

.fa-search {
    position: absolute;
    cursor: pointer;
    left: 250px;
    top: 7px;
    color: rgb(151, 151, 151) !important;
    margin-left: 90px;
}

.downloadCharts { 
    color: rgb(255, 56, 56);
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 14px;
    padding: 6px;
    cursor: pointer;
    background: #feffe8; /* Old browsers */
    background: -moz-linear-gradient(top, #feffe8 0%, #dbdbdb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #feffe8 0%,#dbdbdb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #feffe8 0%,#dbdbdb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}

.dropdown-item {
    font-weight: bold;
    font-size: 80%;
}

.dropdown-item:hover {
    background-color: #eee;
}

hr {
    margin: 0px;
}