.button {
    background-color: rgb(255, 255, 255); /* Green */
    border: none;
    color: #F26925;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
}

select {
    cursor: pointer;
}

.paddingRight {
    padding-right: 25px;
}

.search {
    display: inline-block;
    position: relative;
}   

.search input {
    width: auto;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.search input { 
    text-indent: 16px;
}
.search .fa-search { 
    position: absolute;
    top: 10px;
    left: auto;
    right: 10px;
}