<div id="manage" class="container padding-fixes">

  <div class="row">

    <!-- Select year dropdown -->
    <div class="col-xs-1 col-sm-3 col-md-6 col-lg-8 col-xl-8">
      <div ngbDropdown class="d-inline-block mr-3">
        <button class="btn btn-secondary  btn-custom b-top-radius" id="dropdownBasic1" ngbDropdownToggle>
          <strong>{{ currentYear }}</strong>
        </button>
        <div class="dropdown-year" ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <div *ngFor="let year of getBatchListYears(batches)">
            <button class="dropdown-item c-pointer" (click)="setCurrentYear(year)" style="font-size: 12px">
              <b>{{ year }}</b>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-4 col-sm-9 col-md-6 col-lg-4 col-xl-4" style="text-align: right">
      <button class="btn btn-secondary  b-top-radius" (click)="openBatchModal(null)">
        <strong>Create Batch
          <i style="margin-left:5px" class="fa fa-plus" aria-hidden="true"></i>
        </strong>
      </button>
      <button class="btn btn-secondary  b-top-radius" (click)="openImportBatchModal(importBatch)">
        <strong>Import Batch
          <i style="margin-left:5px" class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
        </strong>
      </button>
    </div>

  </div>

  <!-- Displays batches by year on the manage batch landing page -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <table class="table table-responsive table-hover" style="border-top: solid 1px #DDD">
        <thead style="border-top: 10px black">
          <tr>
            <th>
              Training Name
            </th>
            <th>
              Training Type
            </th>
            <th>
              Skill Type
            </th>
            <th>
              Location
            </th>
            <th>
              Start Date
            </th>
            <th>
              End Date
            </th>
            <th>
              Good Grade
            </th>
            <th>
              Passing Grade
            </th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let batch of batches">
            <!-- | DisplayBatchByYear:currentYear -->
            <td>{{batch.trainingName}}</td>
            <td>{{batch.trainingType}}</td>
            <td>{{batch.skillType}}</td>
            <!-- <td>{{batch.trainer.name}}</td> -->
            <td>{{batch.location}}</td>
            <td>{{batch.startDate | date:'MMM d, y'}}</td>
            <td>{{batch.endDate | date:'MMM d, y'}}</td>
            <td>80</td>
            <td>70</td>
            <td>
              <i class="fa fa-users c-pointer" style="color:#fa7427; text-align: center;" (click)="openViewBatchTraineesModal(traineesInBatch, batch)"
                [title]=' Trainees'>
                <!-- <span class="badge" style="text-align: center;">{{batch.trainees.length}}</span> -->
              </i>
            </td>
            <td>
              <i class="fa fa-pencil" style="color:#fa7427;" (click)="openUpdateBatchModal(batch)"></i>
            </td>
            <td>
              <i id="delete" class="fa fa-times c-pointer" style="color:#fa7427;" (click)="deleteBatchFunction(batch)"></i>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<!-- Import batch modal -->
<ng-template #importBatch let-c="close" let-d="dismiss">
  <div class="modal-header" style="background-color: #F1F2F4">
    <h4 class="modal-title">Create New Batch</h4>
    <button type="button" (click)="c('Close click')" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="form-group">
        <label for="trainingName">Batch:</label>
        <select ng-model="trainingName.model" type="text" class="form-control" id="trainingName" placeholder="1611 Jul11 Java" ng-required="true">
          <!-- Not implemented yet: *ngFor needs to iterate through batches that can be imported -->
          <option *ngFor="let batch of batches">


      <div class="modal-footer">
        <input type="submit" value="Import" class="btn btn-primary" />
        <button type="button" class="btn btn-default" (click)="c('Close click')">Close</button>
      </div>


      <!-- Batch trainee modal
            shows table of trainees and their information by batch -->
      <div class="batch-trainee-modal-container" style="margin-left: 18px">
        <ng-template #traineesInBatch let-c="close" let-d="dismiss">
          <div class="bigmodal">
            <!-- Modal Header I -->
            <div class="modal-header" style="background-color:rgba(243, 243, 243, 0.918)">
              <h4 class="modal-title" style="font-size:18px">View/Add Trainees</h4>
              <button type="button" (click)="c('Close click')" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <!-- Modal Header II -->
            <br>


            <div class="row" style="padding: 0px 20px">
              <div class="col">
                <h3 style="position: relative;top:10px;right:15px">Trainees in Batch</h3>
              </div>
              <div class="col shift-right">
                <span style="position:relative;left:7px">Active</span>
                <br>
                <a role="button" (click)="switchTraineeView()" *ngIf="!showDropped">
                  <i class="fa fa-toggle-on fa-2x" style="color: #F26925" aria-hidden="true"></i>
                </a>
                <a role="button" (click)="switchTraineeView()" *ngIf="showDropped">
                  <i class="fa fa-toggle-off fa-2x" style="color: #F26925" aria-hidden="true"></i>
                </a>
              </div>
            </div>


            <hr>
            <!-- Modal Header III -->
            <div class="pull-right">
              <div class="btn-group" role="group" id="addTrainee">
                <button class="btn btn-secondary c-pointer" (click)="openCreateTraineeModal(createTrainee)" style="font-size: 14px">
                  Add Trainee
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <br>
            <!-- <div class="col-md-12 col-lg-12"> -->
            <div class="modal-body" style="margin-left: 15px">
              <div class="col-md-12 col-lg-12">
                <table class="table table-responsive">
                  <thead>
                    <tr>
                      <th style="width:8%">Trainee Name</th>
                      <th style="width:16%">Trainee Email</th>
                      <th style="width:8%">Training Status</th>
                      <th style="width:8%">Phone Number</th>
                      <th>Skype Id</th>
                      <th>Profile URL</th>
                      <th>Recruiter Name</th>
                      <th>College</th>
                      <th>Degree</th>
                      <th>Major</th>
                      <th>Tech Screener</th>
                      <th>Project Completion</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody *ngIf="!showDropped">
                    <tr *ngFor="let trainee of currentBatch.trainees">
                      <td>{{trainee.name}}</td>
                      <td>{{trainee.email}}</td>
                      <td>{{trainee.trainingStatus}}</td>
                      <td>{{trainee.phoneNumber}}</td>
                      <td>{{trainee.skypeId}}</td>
                      <td>
                        <a *ngIf="trainee.profileUrl" [href]="trainee.profileUrl" target="_blank">
                          <i class="fa fa-file-code-o" style="color: #F26925" aria-hidden="true"></i>
                        </a>
                      </td>
                      <td>{{trainee.recruiterName}}</td>
                      <td>{{trainee.college}}</td>
                      <td>{{trainee.degree}}</td>
                      <td>{{trainee.major}}</td>
                      <td>{{trainee.techScreenerName}}</td>
                      <td>{{trainee.projectCompletion}}</td>
                      <td>
                        <i class="fa fa-pencil c-pointer" style="color:#fa7427 ;" aria-hidden="true" (click)="openUpdateTraineeModal(createTrainee, trainee)"></i>
                      </td>
                      <td>
                        <i class="fa fa-times c-pointer" style="color:#fa7427 ;" aria-hidden="true" (click)="deleteTraineeFunction(trainee)"></i>
                      </td>
                    </tr>
                  </tbody>

                  <tbody *ngIf="showDropped">
                    <tr *ngFor="let trainee of droppedTrainees">
                      <td>{{trainee.name}}</td>
                      <td>{{trainee.email}}</td>
                      <td>{{trainee.trainingStatus}}</td>
                      <td>{{trainee.phoneNumber}}</td>
                      <td>{{trainee.skypeId}}</td>
                      <td>
                        <a *ngIf="trainee.profileUrl" [href]="trainee.profileUrl" target="_blank">
                          <i class="fa fa-file-code-o" style="color: #F26925" aria-hidden="true"></i>
                        </a>
                      </td>
                      <td>{{trainee.recruiterName}}</td>
                      <td>{{trainee.college}}</td>
                      <td>{{trainee.degree}}</td>
                      <td>{{trainee.major}}</td>
                      <td>{{trainee.techScreenerName}}</td>
                      <td>{{trainee.projectCompletion}}</td>
                      <td>
                        <i class="fa fa-pencil c-pointer" style="color:#fa7427 ;" aria-hidden="true" (click)="openUpdateTraineeModal(createTrainee, trainee)"></i>
                      </td>
                      <td>
                        <i class="fa fa-times c-pointer" style="color:#fa7427 ;" aria-hidden="true" (click)="deleteTraineeFunction(trainee)"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </ng-template>
      </div>

      <!-- Create trainee modal -->
      <div class="batch-trainee-modal-container2">
        <ng-template #createTrainee let-c="close" let-d="dismiss">
          <div class="modal-header" style="background-color: #f1f2f4">
            <h4 style="font-size: 20px" class="modal-title">Add Trainees</h4>
          </div>
          <div class="modal-body" style="margin-top: 14px !important;">
            <h4 *ngIf="isNew" style="font-size: 26px" class="modal-title">Add Trainee</h4>
            <h4 *ngIf="!isNew" style="font-size: 26px" class="modal-title">Update Trainee</h4>
            <div class="row">
              <div class="form-group col-md-6 col-sm-6">
                <label for="fullName">Full Name:</label>
                <input [(ngModel)]="createNewTrainee.name" type="text" class="form-control" id="name" placeholder="Name">
              </div>
              <div class="form-group col-md-6 col-sm-6">
                <label for="email">Email:</label>
                <input [(ngModel)]="createNewTrainee.email" type="text" class="form-control" id="email" placeholder="Email">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6 col-sm-6">
                <label for="skypeId">Skype Id:</label>
                <input [(ngModel)]="createNewTrainee.skypeId" type="text" class="form-control" id="skypeId" placeholder="Skype Id">
              </div>
              <div class="form-group col-md-6 col-sm-6">
                <label for="phone">Phone:</label>
                <input [(ngModel)]="createNewTrainee.phoneNumber" type="text" class="form-control" id="phone" placeholder="(xxx)xxx-xxxx">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6 col-sm-6">
                <label for="college">College</label>
                <input [(ngModel)]="createNewTrainee.college" type="text" class="form-control" id="college" placeholder="College">
              </div>
              <div class="form-group col-md-6 col-sm-6">
                <label for="degree">Degree:</label>
                <input [(ngModel)]="createNewTrainee.degree" type="text" class="form-control" id="degree" placeholder="Degree">
              </div>

            </div>
            <div class="row">
              <div class="form-group col-md-6 col-sm-6">
                <label for="major">Major:</label>
                <input [(ngModel)]="createNewTrainee.major" type="text" class="form-control" id="major" placeholder="Major">
              </div>
              <div class="form-group col-md-6 col-sm-6">
                <label for="Recruiter Name:">Recruiter Name:</label>
                <input [(ngModel)]="createNewTrainee.recruiterName" type="text" class="form-control" id="recruiterName" placeholder="Recruiter Name">
              </div>

            </div>
            <div class="row">
              <div class="form-group col-md-6 col-sm-6">
                <label for="techScreenerName">Tech Screener Name:</label>
                <input [(ngModel)]="createNewTrainee.techScreenerName" type="text" class="form-control" id="techScreenerName" placeholder="Tech Screener Name">
              </div>
              <div class="form-group col-md-6 col-sm-6">
                <label for="projectCompletion">Project Completion:</label>
                <input [(ngModel)]="createNewTrainee.projectCompletion" type="text" class="form-control" id="projectCompletion" placeholder="0%">
              </div>

            </div>
            <div class="row">
              <div class="form-group col-md-12 col-sm-12">
                <label for="profileUrl">Profile URL:</label>
                <input [(ngModel)]="createNewTrainee.profileUrl" type="text" class="form-control" id="profileUrl" placeholder="http://www.example.com/revature">
              </div>

            </div>
            <div class="row">
              <div class="form-group col-md-12 col-sm-12">
                <label for="trainingStatus">Training Status</label>
                <select *ngIf="isNew" [ngModel]="selectStatus" [(ngModel)]="createNewTrainee.trainingStatus" class="form-control" id="trainer"
                  placeholder="Select Status">
                  <option [disabled]="true">
                    {{selectStatus}}
                  </option>
                  <option *ngFor="let status of statuses">{{status}}</option>
                </select>
                <select *ngIf="!isNew" [ngModel]="statuses[5]" [(ngModel)]="createNewTrainee.trainingStatus" class="form-control" id="trainer"
                  placeholder="Select Status">
                  <option *ngFor="let status of statuses">{{status}}</option>
                </select>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button class="btn btn-primary c-pointer" *ngIf="isNew" (click)="createNewTraineeFunction()">
              <strong>Save</strong>
            </button>
            <button class="btn btn-primary c-pointer" *ngIf="!isNew" (click)="updateTraineeFunction()">
              <strong>Save</strong>
            </button>
            <button type="button" class="btn btn-default c-pointer" (click)="closeCreateTraineeModal()">Close</button>
          </div>
        </ng-template>
      </div>

      <!-- Update batch modal -->
      <!-- <div class="batch-trainee-modal-container2">
  <ng-template #updateBatch let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Update Batch</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-md-6 col-sm-6">
          <label for="trainingName">Training Name:</label>
          <input [(ngModel)]="batchToUpdate.trainingName" value="batchToUpdate.trainingName" type="text" class="form-control" id="trainingName"
            ng-required="true">
        </div>
        <div class="form-group col-md-6 col-sm-6">
          <label for="trainingType">Training Type</label>
          <select [(ngModel)]="batchToUpdate.trainingType" class="form-control" id="trainer">
            <option value="" disabled>Select Training Type</option>
            <option *ngFor="let trainType of trainingTypes">{{trainType}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6 col-sm-6">
          <label for="skills">Skills</label>
          <select [(ngModel)]="batchToUpdate.skillType" class="form-control" id="skills">
            <option value="" disabled>Select Skill Type</option>
            <option *ngFor="let skill of skills">{{skill}}</option>
          </select>
        </div>
        <div class="form-group col-md-6 col-sm-6">
          <label for="location">Location</label>
          <select #selectUpdateLocation (change)="onUpdateBatchLocationSelect(selectUpdateLocation.value)" class="form-control" id="location">
            <option value="" disabled>Select Location</option>
            <option *ngFor="let location of locations" [value]="location.addressId" [selected]="location.addressId === currentBatch.address.addressId">{{location.addressId}}, {{location.city}}, {{location.state}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6 col-sm-6">
          <label for="trainer">Trainer:</label>
          <select #selectTrainer (change)="onTrainerSelect(selectTrainer.value)" class="form-control" id="trainer">
            <option value="">Select Trainer</option>
            <option *ngFor="let trainer of trainers" [value]="trainer.trainerId" [selected]="trainer.trainerId === currentBatch.trainer.trainerId">{{trainer.name}}</option>
          </select>
        </div>
        <div class="form-group col-md-6 col-sm-6">
          <label for="co-trainer">Co-Trainer:</label>
          <select [(ngModel)]="batchToUpdate.coTrainer" class="form-control" id="co-trainer">
            <option value="">Select Co-Trainer</option>
            <option *ngFor="let trainer of trainers">{{trainer.name}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6 col-sm-6" moment-picker="startDate.model" format="YYYY-MM-DD">
          <label for="start-date">Start Date:</label>
          <div class="input-group" id="start-date" data-datepicker="true">
            <input class="form-control" placeholder="Start Date" name="dp" [(ngModel)]="batchToUpdate.startDate" ngbDatepicker #d="ngbDatepicker">
            <button class="input-group-addon" (click)="d.toggle()" type="button">
              <i class="fa fa-calendar" style="color:#fa7427 ;" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="form-group col-md-6 col-sm-6" moment-picker="endDate.model" format="YYYY-MM-DD">
          <label for="end-date">End Date:</label>
          <div class="input-group" id="end-date" data-datepicker="true">
            <input class="form-control" placeholder="End Date" name="dp2" [(ngModel)]="batchToUpdate.endDate" ngbDatepicker #d2="ngbDatepicker">
            <button class="input-group-addon" (click)="d2.toggle()" type="button">
              <i class="fa fa-calendar" style="color:#fa7427 ;" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6 col-sm-6">
          <label for="goodGrade">Good Grade:
            <span title="The minimum acceptable grade." alt="The minimum acceptable grade." class="glyphicon glyphicon-question-sign"></span>
          </label>
          <input [(ngModel)]="batchToUpdate.goodGradeThreshold" ng-change="setMinGrade()" type="number" min="0" step="1" class="form-control"
            id="goodGrade" placeholder="80" ng-required="true">
        </div>
        <div class="form-group col-md-6 col-sm-6">
          <label for="borderlineGrade">Passing Grade:
            <span title="The minimum grade required to pass. Falling below this grade will likely result in disciplinary action." alt="The minimum grade required to pass. Falling below this grade will likely result in disciplinary action."
              class="glyphicon glyphicon-question-sign"></span>
          </label>
          <input [(ngModel)]="batchToUpdate.borderlineGradeThreshold" ng-change="lowerMinGrade()" type="number" min="0" step="1" class="form-control"
            id="borderlineGrade" placeholder="50" ng-required="true">
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="updateBatchFunction()">
        <strong>Update Batch</strong>
      </button>
      <button type="button" class="btn btn-default" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>
</div> -->