<div class="sidebar-element">
  <div>
    <img *ngIf="loading" src='/assets/img/revloading.gif'>
  </div>
  <div *ngIf="!loading && currentBatch != null">
    <div class="form-group row">
      <div>Add subtopic to calendar</div>
    </div>
    <div class="form-group row">
      <label for="topics" class="form-label">Topic:</label>
      <select [(ngModel)]="selectedTopic" class="form-control" id="topics" (change)="onChangeLoadSubtopics()">
        <option selected>Select a Topic</option>
        <option *ngFor="let topic of uniqueTopics" value="{{topic}}">{{topic}}</option>
      </select>
    </div>
    <div class="form-group row">
      <div class="form-label">Choose Subtopic:</div>
      <div class="select-box" (change)="onChangeGetSubtopicInfo()">
        <div *ngFor="let subtopic of subtopicList" class="fc-select-subtopic" (click)="selectSubtopic(subtopic)" (mouseover)="setDraggableOnSubtopic($event, subtopic)">{{subtopic}}</div>
      </div>
    </div>
    <div class="form-group row">
      <label for="date" class="form-label">Start:</label>

      <input [(ngModel)]="selectedDate" class="form-control" type="date" id="date">

    </div>
    <div class="form-group row">
      <button type="button" class="btn btn-primary" (click)="saveSubtopic()">Add to calendar</button>
    </div>
    <ngb-alert *ngIf="alertMessage" type="danger" (close)="alertMessage = null">{{ alertMessage }}</ngb-alert>
    <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Subtopic already exists</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5>Would you like to override the date?</h5>
    <p>Previous date: {{prevDate}}</p>
    <p>Date selected: {{newDate}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="c('ok')">OK</button>
    <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
  </div>
</ng-template>