<div class="row">
    <h3 class="mx-auto">Overall Feedback</h3>
</div>

<div class="row mb-5">

    <div class="col-md-3">
        <div class="row">
            <select #statusSelect class="custom-select mx-auto text-orange" (change)="onStatusChange(statusSelect.value)" >
                <option *ngFor="let status of qcStatuses" [value]="status" [selected]="status === batchNote?.qcStatus">{{ status }}</option>
            </select>
        </div>
        <div class="row mt-3">
            <p class="mx-auto">
                <app-feedback-icon [status]="selectedStatus" css="fa-3x text-orange"></app-feedback-icon>
            </p>
        </div>
    </div>

    <div class="col-md-9">
        <textarea *ngIf="batchNote" class="form-control" [disabled]="noteIsUndefined(batchNote)" [(ngModel)]="batchNote.content" (change)="saveNote(batchNote)" rows="4"></textarea>
    </div>
</div>
