<!--Create New Question Button-->
<button class="btn" id="createTrack" (click)='open(content)'>New Question</button>
<!--Beginning of the add new question modal-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="!testSingleTrack">Create New Question</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!--Add new question input text boxes-->
    <form #addQuestionForm="ngForm">
      <div class="form-group row">
        <label for = "questionText" class="col-sm-3 col-form-label" min="0" max="100" align = "right">Question:</label>
        <div class="col-sm-9">
          <input name="question" [(ngModel)]="question.text" type = "text" id = "questionText" placeholder="Question" class="form-control border-right-0 bucketWeight" min="0" max="100">
        </div>
      </div>
      <div class="form-group row">
        <label for = "one point answer" class="col-sm-3 col-form-label" min="0" max="100" align = "right">One point:</label>
        <div class="col-sm-9">
          <input name="answer1" [(ngModel)]="question.answers[0]" type = "text" id = "1pointAnswer" placeholder="answer" class="form-control border-right-0 bucketWeight" min="0" max="100"> 
        </div>
      </div>
      <div class="form-group row">
        <label for="two point answer" class="col-sm-3 col-form-label" min="0" max="100" align = "right">Two point:</label>
        <div class="col-sm-9">
          <input name="answer2" [(ngModel)]="question.answers[1]" type = "text" id = "2pointAnswer" placeholder="answer" class="form-control border-right-0 bucketWeight" min="0" max="100">
        </div>  
      </div>
      <div class="form-group row">
        <label for="three point answer" class="col-sm-3 col-form-label" min="0" max="100" align = "right">Three point:</label>
        <div class="col-sm-9"> 
          <input name="answer3" [(ngModel)]= "question.answers[2]" type = "text" id = "3pointAnswer" placeholder="answer" class="form-control border-right-0 bucketWeight" min="0" max="100"> 
        </div>
      </div>
      <div class="form-group row">
        <label for="four point answer" class="col-sm-3 col-form-label" min="0" max="100" align = "right">Four point:</label>
        <div class="col-sm-9">
          <input name="answer4" [(ngModel)]="question.answers[3]" type = "text" id = "4pointAnswer" placeholder="answer" class="form-control border-right-0 bucketWeight" min="0" max="100">
        </div> 
      </div>
      <div class="form-group row">
        <label for="five point answer" class="col-sm-3 col-form-label" min="0" max="100" align = "right">Five point:</label>
        <div class="col-sm-9">
          <input name="answer4" [(ngModel)]="question.answers[4]" type = "text" id = "5pointAnswer" placeholder="answer" class="form-control border-right-0 bucketWeight" min="0" max="100"> 
        </div>
      </div>
      <!--Currently added tags-->
      <div class="form-group row">
          <label for="allTags" class="col-sm-6 col-form-label">Selected Tags:</label>
          <div class="col-sm-10 row">
            <span *ngFor="let tag of currentTags">
              <span *ngIf = "tag" class="input-group-addon revatureOrange" (click)="removeTagFromQuestion(tag)" style="margin: 1px" [innerHTML]="tag.name"></span>
            </span>
          </div>
      </div>
      <!--Add new tag section-->
      <div class="form-group row">
          <input #Tag (keyup.enter)="newTag(Tag.value)" name="newTag"  type = "text" id = "newTag" class="col-sm-12 col-form-label" min="0" max="100"  align = "center"> 
      </div>
      <!--Add tags section-->
      <div class="form-group row">
        <label for="allTags" class="col-sm-6 col-form-label">Tags:</label>
        <div class="col-sm-10 row">
          <span *ngFor="let tag of allTags">
            <span class="input-group-addon" (click)="addTagToQuestion(tag)" style="margin: 1px">{{tag.name}}</span>
          </span>
        </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
          <button type="button" data-dismiss="modal" class="btn btn-outline-dark" (click)=" addNewQuestion()">Save</button>
          <p id="newQuestionAlert"></p>
      </div>
    </form>
  </div>
</ng-template>
<!--Ending of the add new question modal-->