h3 {
    text-align: center;
    color: #F26925;
  }
  
  h6 {
    text-align: center;
  }
  
  #xIcon {
    color: #F26925;
    margin-left: 10px;
  }
  
  #penIcon {
    color: #F26925;
  }
  .revatureOrange{
    background-color: #F26925;
    color: white;
}  