.bk-color{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: black;
    background-color: #ebedea;
  }
  
.max-dim{
  width: 100%!important;
  height: 73vh!important;
  padding-top: 25px;
  margin:0px;
}

.container{
    padding-top: 35px;
}