<div class="border border-secondary">
    <div class="container">
  
      <div class="row">
        <div class="col">
          <h3>Technical Feedback</h3>
        </div>
      </div>
  
      <div class="row">
        <hr>
        <div class="col-3">
          <strong>Technology</strong>
        </div>
        <div class="col-3">
          <strong>Result</strong>
        </div>
        <div class="col-3">
          <strong>Repanel</strong>
        </div>
        <div class="col-3">
          <strong>Comment</strong>
        </div>
        <hr>
      </div>
  
    </div>
  </div>